@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/text-shadow";

HTML, body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    height: 100%;
    width: 100%;
    background-color: #dae6f2;
}

HTML {
    overflow: scroll;
}

IMG {
    border: none;
    margin: 0;
    padding: 0;
}

TABLE {
    border-collapse: collapse;
}

STRONG {
	font-weight: normal;
}

#counters {
    position:relative;
    overflow:hidden;
    width: 500px;
    margin: -25px 0 0 600px;
    .counter {
        float:left;
        margin: 15px 10px 0 0 ;
    }
}

.note {
    margin: 10px;
    color: gray;
    font-size: 10px;
}

.reset-margin {
    margin: 0;
}

.mail-antispam {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.float-left {
    float: left;
}

.delivery {
    background: url("/images/base/delivery.png") no-repeat;
    height: 27px;
}

.garanty {
    background: url("/images/base/garanty.png") no-repeat;
    height: 27px;
}

.line-through {
    text-decoration: line-through;
}

#error_message {
    color: red;
}

.bold {
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.under_header {
    font-weight: bold;
    font-size: 16px;
    color: #832102;
    margin: 20px 0 10px 0;
}

.clear-both {
    clear: both
}

.hand {
    cursor: pointer;
}

DIV {
    z-index: 1
}

LABEL {
/*text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);*/
}

.menu-item-main {
    display: inline-block;
    margin: 2px 15px 0 0;
    font-size: 17px;
    color: #ff8b00;
    text-decoration: underline
}

A.menu-item-main:visited {
    color: #ff8b00;

}

#venous_header {
    background: url('/images/base/top_head_bg2.png') repeat-x; /*height: 95px;*/
/*background-color: black;*/
    height: 99px;
    width: 100%;
    z-index: 3;
    position: relative;

}

#header-line {
/*background-color: #ff0000; height: 159px;*/
    height: 150px;
    width: 100%;
    z-index: 3;
    position: relative; /*-moz-box-shadow: 0 1px 5px black;*/
    background-color: white;

}

.first-header-line {
    height: 65px;
    background-color: red
}

.second-header-line {
    height: 68px; /*background-color: #fff6ed;*/
    background-color: #fffdfb;
    border-top: 1px solid white;
    border-bottom: 1px solid #786565 /*border-bottom: 1px solid #fb0101 *//*-webkit-box-shadow: 0 1px 5px black;*/
}

#head {
    height: 254px;
}

#bottom-head {

}

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#logo A SPAN {
    background: url('/images/base/logo3.png') no-repeat scroll 0 0 transparent;
    width: 337px;
    height: 56px;
    margin: 30px 0 0 90px;
    display: block;
    z-index: 20;
}

#top_menu {

}

#main_header {
    margin: -250px auto -214px auto;
    width: 1024px;
    position: relative;
    z-index: 4;
    top: 0;
    left: 0;
}

#contacts {
    width: 700px;
    height: 350px;
    margin: 15px auto; /*display: none;*/
}

#contacts fieldset {
    border: 0 transparent;
    margin: 0 0 0 16px;
}

#contacts legend {
    margin: 0 0 0 -1000px;
}

.contact-form-message {
    color: red;
}

#contacts label {
    color: #db411b;
    font-weight: bold;
    display: block;
    font-size: 14px;
    padding: 5px 0 10px 0;
    margin: 0 0 17px 0;
}

#contact_form_first_column {
    width: 90px;
    float: left;
}

#contact_form_second_column {
    width: 210px;
    float: left;
    margin-left: 10px
}

.text-field {
    margin: 0 0 17px 0;
    height: 25px;
    width: 230px; /*width: 220px;*/
}

.text-field-shine {
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #dddddd;
    padding: 5px 0 0 0;
    margin: 0 0 17px 0;
    height: 25px;
    width: 240px;
}

#contacts input, #contacts textarea {
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #dddddd;
    padding: 5px 0 0 0;
}

#contacts input:focus, #contacts textarea:focus {
    -moz-box-shadow: 0 0 4px #e6e6e6;
}

#content_form_second_column input {
    margin: 5px;
    width: 230px;

}

#contact-form {
/*float: left;*/
    width: 390px; /* -moz-box-shadow: 0 1px 3px black;  */
    -webkit-box-shadow: 0 1px 3px black;
    -moz-border-radius: 10px 10px 10px 10px;
    background: url('/images/base/contact_form_bg.png') repeat scroll 0 0 transparent;
}

#contact_info a {
    color: #666666;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

#contact_info {
/*margin: 10px 0 0 0; *//*height: 26px;*/
    margin: 10px 0 0 0;
}

#contact_info p {
    color: #666666;
    font-size: 14px;
    margin: 0 0 25px 0;
    padding: 0;
    line-height: 16px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

#contact_info span {
    font-weight: bold;
}

#contact_btn {
    margin: -10px 0 0  447px;
     color: #FFFFFF;
}

.btn {
    background: url('/images/base/contact_btn_bg.png') repeat-x scroll #d4451d;
    width: 100px;
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 3px black;
    -webkit-box-shadow: 0 1px 3px black;
    text-decoration: none;
    font-weight: bold;
    line-height: 1; /*color: #541C0C;*/
    color: #f6f4f4;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    display: block;
    padding: 15px;
    text-align: center;
    position: relative;
}

.btn:active {
    color: #FFFFFF;
    border: 1px solid #518cc6;
    background: #1b70c4;
    top: 1px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

#send_btn {
    margin: 10px 0 0 214px;
     color: #FFFFFF;

}

/*#send_btn {*/
/*margin: 14px 10px 0 0;*/
/*float: right;*/
/*}*/

.btn:hover {
    background: url('/images/base/contact_btn_bg_hover.png') repeat-x scroll #d4451d;
    padding: 13px;
}


#main_menu {
    margin-left: 450px;
    margin-top: 20px;
    width: 600px;

    a {
        text-decoration:none;
    }
}

.main-menu-item {
    text-shadow: 1px 1px 1px black;
    float: left;
    height: 24px;
    margin: 0 15px 0 0;
    padding: 4px 6px 0 6px;
    cursor: pointer;
}

.main-menu-item:hover {
    background-color: #5c0a0a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px black;
    -webkit-box-shadow: 0 1px 3px black;
}

.main-menu-item-selected {
    background-color: #5c0a0a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px black;
    -webkit-box-shadow: 0 1px 3px black;
}

.calculator-menu-item:hover {
    background-color: #5c0a0a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px black;
    -webkit-box-shadow: 0 1px 3px black;
}

.calculator-menu-item-selected {
    background-color: #5c0a0a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px black;
    -webkit-box-shadow: 0 1px 3px black;
}

.calculator-menu-item {
    text-shadow: 1px 1px 1px black;
    float: left;
    height: 24px;
    margin: 0 15px 0 0;
    padding: 4px 6px 0 6px;
}

.calculator-menu-item span {
    font-size: 14px;
    color: yellow;
}

.main-menu-item span {
    font-size: 14px;
    color: white;
}

#body {
    z-index: 1; /*height: 100%;*/
    margin: auto;
    width: 850px;
    background-color: white;
    position: relative;
}

#parent-body {
/*background-color: #DAE6F2*/
    background-color: white;
}

#head-shadow {
    height: 242px;
}

#bottom-shadow {
    height: 22px;
}

#head-shadow, #footer-body-margin {
    background-color: #DAE6F2;
}

#footer-body-margin {
    background-color: #DAE6F2;
}

#background-line-top {
/*height: 25px;*/
    width: 100%; /*background-color: #DAE6F2*/
}

/*.background-line-bottom {
	height: 25px;
	width: 100%;
	background-color: #DAE6F2
}*/

#ramblertop100 {
    background: #540303;
    float: right;
}

#content {
    background-color: #ffffff;
    height: 100%;
    border: 1px solid #DAE6F2;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    padding: 10px;
    line-height: 17px
}

#content-shadow {
    height: 400px;
    background-color: white;
}

#up-line {
    width: 828px;
    height: 40px;
    padding-left:15px;
    border: 1px solid #b50a0a;// #9f0909; /*border: 1px solid #fd0000; *//*border: 1px solid #a25a43;*/
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);
    background: #b50a0a; // #b50a0a; 
    line-height: 40px;
    vertical-align:middle;
    color: white;
    font-size: 14px;

    a {
        color: #ffb86b;
        font-weight: bold;
        margin: 0 15px 0 0;
        text-decoration:underline;
        vertical-align:middle;
    }

    a:hover {
        text-decoration:none;
    }

    .page-name {
        vertical-align:middle;
    }
}

/*#up_line_continue {*/
/*background-color: #842102;*/
/*height: 80px;*/
/*width: 850px;*/
/*}*/

#bottom_line {
    background: url("/images/base/bottom_line.png") no-repeat scroll 0 0 #dae6f2; /*background-color:red;*/
    height: 13px;
    width: 850px;
    margin: auto;
}

#footer-wrapper {
/*background: url("/images/base/bg-ftr-top.gif") repeat-x scroll 0 0 #EEEEEE;*/
/*background-color: #eec8c8;*/
    background-color: #540303;
    border-top: 1px solid #f7bcbc;
    width: 100%;
    height: 52px;
    z-index: 2;
    position: relative
}

#footer-zone {
    z-index: 2;
    position: relative
}

#footer-body-margin {
    width: 100%;
    height: 20px;
    background-color: white;
}

#footer {
    background: none repeat scroll 0 0 transparent;
    margin: 0 auto;
    width: 940px;
    padding: 8px 0;
    z-index: 1;
}

#footer a, a:visited {
    color: #666666;
}

#footer li {
    display: inline;
    padding: 0 4px;
}

#footer ul {
    color: #666666;
    font-size: 11px;
}

#description_head {
    font: "Arial, Helvetica, sans-serif"; /*color: white;*/
    color: black;
    font-size: 16px;
    line-height: 2;
    margin: 20px 0 0 89px;
    width: 900px;
}

#slogan {
    font: "Arial, Helvetica, sans-serif"; /*font-weight: bold;*/
    font-size: 30px;
    margin: 26px 0 5px 89px;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    display: block;
    font-weight: normal;
}

#search {
    margin-left: 745px;
    margin-top: 19px;
    position: absolute;
    display: block;
}

#search input:focus {
    -moz-box-shadow: 1px 1px 6px white;
    -webkit-box-shadow: 1px 1px 6px white;
}

#search input {
    opacity: 0.9;
    float: left;
    width: 250px;
    height: 25px;
    margin: 10px 10px 0 30px;
    -moz-border-radius: 5px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF url('/images/base/search.gif') no-repeat scroll 222px 9px;
    padding: 5px 0 0 0;
    border-right-width: 0;
    text-align: left;

}

/* Inventories */
.description_img_inventory {
    float: right;
    width: 400px;
    font-size: 11px;
    line-height: 30px;
}

#description_img_inventory DIV {
    margin-bottom: 10px;
}

#inventory_img1, #inventory_img2 {
    width: 350px;
}

/* Inventories */

#product h1 {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
}

#product h2 {
    text-align: center;
    font-size: 15px;
}

#product TABLE TD {
    border: 1px solid #99999a;
}

#product TABLE {
    margin: auto;
}

#solution-item DIV {
    border-bottom: 1px solid #b50a0a;
    padding: 0 0 10px 0;
}

#solution-item H1 {
    margin: 15px 0 15px 0
}

#solution-item A {
    background: url('/images/base/marker.png') no-repeat;
    height: 20px;
    display: block;
    padding-bottom: 15px;
    padding-left: 15px;
    line-height: 10px;
    text-decoration: none;
}

#solution-item a:visited {
    color: #202020;
}

/* Product*/

/*  Power */
.power_description {
    float: left;
}

.power_description img {
    margin: 0 25px 0 0;
    float: left;

}

.power_description ul li {
    padding: 5px 0 5px 0;
}

/* Wind Generator */
#wind_generator_conn_descr {
    float: right;
    width: 300px;
    margin-top: 40px;
    font-size: 11px;
}

#wind_generator_conn_descr DIV {
    margin-bottom: 7px;
}

#wind_gen_monitor {
    margin: 10px 0 0 20px;
}



.catalog-item {
    -moz-border-radius: 16px;
    border: 1px solid #C8C8C8;
    float: left; /*height: 440px;*/

    line-height: 20px;
    margin: 5px 25px 12px 0;
    background: #F5F5F5 none repeat scroll 0 0;
    text-align: center;
}

.catalog-item a {
    height: 200px;
    width: 230px;

    display: inline-block;
    text-decoration: none;
}

.catalog-item img {
    text-decoration: none;
    color: #3C3C3C;
    margin: 25px 0 0 0;
}

/*.catalog-item .body {*/
/*margin: 10px;*/
/*text-align: center;*/
/*}*/

#product .product-description {
    margin: 0 0 10px 0;
    font-size: 13px;
    background-color: #ffefc7;
    padding: 4px;
    line-height: 25px;
}

#product .description-table td {
    padding: 3px;
}

#product .description-price {
    margin: 20px;
    color: red;
}

#product a {
    color: inherit;
}

#product a:active {
    color: inherit;
}

#product {
    .production-list {
      li {
            color: #9f0000;
            line-height: 200%;
            font-size: 15px;

            a:hover {
                text-decoration: none;
            }
      }
    }
}

.description-table th {
    font-weight: normal;
    border: 1px solid #bbb8b8;
    color: #c20000;
    padding: 2px;

}

.description-table td {
    text-align: center;
}

.catalog-items {
    margin: 10px auto 0 auto;
}

.catalog-items  h1 {
    font-size: 20px;
    font-weight: normal;
    font: Georgia;
    font-style: italic;
    color: #d16f6f;
    display: inline;
    float: left;
    padding: 0 15px 0 0;
}

.catalog-items .line {
    padding: 20px 0 11px;
}

.catalog-items hr {
    background-color: #ffe5e5;
    border: 0 solid #ffe5e5;
    height: 6px;
}

.catalog-item h2 {
    font-size: 14px;
    color: #3C3C3C;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

.catalog-item:hover {
    background: #efefef;
    cursor: pointer;
}

#twitter {
/*width: 828px;*/
    margin: 10px 0 0 0;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    padding: 10px;
    color: #666666;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    background-color: #ffecec;
    font-size: 14px;
}

#twitter h2 {
    float: left;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
}

#twitter img {
    float: left;
    margin: 0 0 10px 0;
}

#twitter a {
    color: #666666;
    cursor: pointer;
    text-decoration: none;
}

#twitter a:visited {
    color: #666666;
    cursor: pointer;
    text-decoration: none;
}

#twiiter a:hover {
    text-decoration: underline;
}

.tweet {
    padding: 10px;
}

#product fieldset {
    border: none;
}

.table {
    border: 0;
    width: 800px;

}

.table td {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous; /*background: #F8F8F8 url("/images/base/row_bg.png") repeat-x scroll 0 100%;*/
    border-bottom: 1px solid #E1E1E1;
    color: #484848;
    padding: 15px 10px 0 0;
}

.table tr {
    height: 40px;
}

.table td span {
    margin: 0 0 0 20px;
}

.odd-row {
    background: #fdf6f6;
}

.even-row {
    background: #f6f9fd;
}

.table td input {
    margin: 0 5px 10px 0;
}

.row-head {
    background: #e4e4e4;
}

.row-head a {
    color: gray;

}

.table td select {
    margin: 0 5px 10px 0;
}

.row-name {
    width: 340px;
}

.margin-auto {
    margin: 0 auto;
}

.pay-description {
    background: #ed0606;
    margin: 20px 0 10px 0;

    padding: 10px 0 10px 0;
}

.catalog-table td {
    text-align: center;
}

.catalog-table thead th {
/*padding: 2px;*/
    border: 1px solid #99999A;
    font-weight: normal;
}

.catalog-table td {
    padding: 5px;
}

.catalog-table .row-header {
    background: #f7dc8a;
    font-size: 12px;
    padding: 5px;
    width: 210px;
    width: 210px;
    text-align: center;
}

.catalog-table thead tr {
    background: #ffa800;
}

td.td-header {
    background-color: #ffa800;
    font-size: 11px;
}

.catalog-row {
    background: #fdb824; /*font-weight:bold;*/
}

.catalog-table tr {
    background: #f6f5f4;
}

.comments {
    font-size: 10px;
    color: #bcbcbc;
}

.comments a {
    color: #bcbcbc;

}

.comments h1 {
    font-size: 12px;
}

.success-order  h1 {
    color: #D16F6F;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    padding: 15px 0 10px 10px;
}

.success-order .message {
    font-size: 15px;
    margin: 10px 0 150px 10px;
}

.article H1 {
    font-size: 20px;
    font-weight: normal;
    margin: 30px 0 20px 0;
}

.article H2 {
    font-size: 15px;
    color: #000000;
    margin: 20px 0;
    text-align: center;
}

.article TABLE TD {
    border: 1px solid #99999a;
}

.article TABLE {
    margin: auto;
}

.article A {
    color: inherit;
}

.item-marker {
    background: transparent url('/images/base/marker.png') no-repeat scroll 0 0;
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.overflow-hidden {
    overflow: hidden;
}

#main-contacts {
    position: absolute;
    top: 5px;
    right: 0;
}

#main-contacts img {
    margin-right: 3px;
    vertical-align: bottom;
}

#icq {
    float: left;
    height: 34px;
    line-height: 34px; /*margin-bottom: 10px;*/
    font-size: 14px;
    margin: 10px 0 0 0;
}

#icq SPAN {
    color: white;
    text-shadow: 1px 1px 2px black;
}

#icq A {
    color: white;
    text-decoration: none;
}

DIV.phone {
    float: left;
    width: 307px;
    margin: 10px 0 0 0;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
}

.phone SPAN {
    color: white;
    text-shadow: 1px 1px 2px black;
}












