<% content_for :title do %>
	О компании - Научно-производственное предприятие
<% end %>

<% content_for :page_name do %>
	О компании
<% end %>

<% content_for :content do %>
<!--	<div class="products-description">
	  <p>
	    <strong><h3>Научно-производственное предприятие
	      «Красная энергия»</h3>
	    </strong>
	  </p>

	  <p>
	    Наша организация занимается изготовлением, монтажем и обслуживание систем автономного и бесперебойного
	    электроснабжения с 2001 года.

	  </p>

	  <div>
	    <p>
	      Наименование организации:
	      <strong>ООО "НПП "Красная Энергия"</strong>
	    </p>

	    <p>

	      Сфера деятельности:
	      <strong>
		Энергосберегающие технологии
	      </strong>
	    </p>

	    <p>
	      Производственный статус:
	      <strong>
		Инжиниринговая компания
	      </strong>
	    </p>

	    <p>
	      Задачи:
	    <ul>
	      <li>Поиск источников финансирования</li>
	      <li>Организация маркетинговой службы</li>
	      <li>Повышение качества продукции</li>
	      <li>Разтаботка передовых технических средств в области энергосбережения</li>
	      <li>Организация собственного производства</li>
	      <li>Организация службы сервиса</li>
	    </ul>
	    </p>
	    <p>
	      Реализованные проекты:
	    <ul>
	      <li>
		<strong>Смонтирован</strong> ряд систем <strong>бесперебойного электропитания</strong> на объектах
		заказчиков в т.ч. c <strong>ветрогенераторами</strong>
	      </li>
	      <li>
		<strong>Установка датчиков движения на светильники освещения</strong> в подъездах жилых домов в г.
		Подольске  (более 10
		домов)
	      </li>
	    </ul>
	    </p>

	    <p>

	    <h3>Контакты</h3></p>

	    <p>
	      Генеральны директор:
	      <strong>Попов Алексей Александрович</strong>
	    </p>

	    <p>
	      Адреc:
	      <strong>
		142115, МО, г. Подольск, ул. Рощинская, д.3
	      </strong>
	    </p>

	    <p>
	      Тел, факс:
	      <strong>
		(495) 775-82-12
	      </strong>
	    </p>

	    <p>
	      E-mail:
	      Если вы заинтересованы в наших услугах или хотите что-нибудь спросить, напишите нам —
	      <a href="office@red-energy.ru">office@red-energy.ru</a>
	    </p>

	  </div>
	</div>-->
<% end %>