<%= content_for :page_name do %>
	<div class="delivery" style="display:inline;">
		<span style="margin:0 0 0 50px">Доставка</span>
	</div>
<% end %>
<%= content_for :title do %>Доставка<% end %>
<%= content_for :keywords do %>доставка систем автономного электропитания, автономное электропитание<% end %>
<%= content_for :description do %>Доставка систем автономного электропитания<% end %>
<div class="article overflow-hidden">
	<div>
		<div class="item-marker"></div>
		<h1 style="margin:10px 0 0 0;"> В пределах Москвы:</h1>
		<p/>
		До 15 кг (курьер) - 300 р. Доставка оборудования автотранспортом компании 2500 р.
	</div>
	<div>
		<div class="item-marker"></div>
		<h1>Доставка оборудования при контракте на установку:</h1>
        	<p />
		Бесплатно в пределах 1-й бетонки. 2500 <span class="line-through">(3000)</span> р. в пределах 2-го бетонного
		кольца. Доставка в Подмосковье автотранспортом компании без контракта на установку: 3000 <span class="line-through">(3500) </span>р. в пределах 1-й бетонки и 4000
		<span class="line-through">(5000)</span> р. в пределах 2-го бетонного кольца.

	</div>
	<div>
		<div class="item-marker"></div>
		<h1> Доставка в регионы:</h1>
		Осуществляется транспортными компаниями по договоренности с покупателем и оплачивается за счет 	получателя. Командировочные расходы при инженерных работах в регионах оплачиваются по договоренности.
		</p>
	</div>
</div>