<%= content_for :page_name do %>
	<div class="garanty" style="display:inline;">
		<span style="margin:0 0 0 35px">Гарантия</span>
	</div>
<% end %>
<%= content_for :title do %>Гарантия<% end %>
<%= content_for :keywords do %>гарантия, монтаж инвертора<% end %>
<%= content_for :description do %>Гарантия<% end %>
<div class="article">
	<div>
		<div class="item-marker"></div>
		<h1 style="margin: 5px">Установка оборудования и электромонтажные работы:</h1>
		<p/>
		<strong>Монтаж инвертора</strong> и резервирование питания требует перекоммутации щита (щитов)
		электросети дома.
		Заказчику
		необходимо иметь четкую схему электропроводки. Во многих случаях перед установкой системы необходимо
		провести
		работы по
		"наведению порядка" в электросети заказчика и перекоммутации для вывода резервируемых потребителей на
		<strong>инвертор</strong>.
		Основным техническим условием установки системы является наличие "моста" между
		<strong>инвертором</strong> и
		щитом. В качестве
		"моста" в большинстве случаев используется кабель ПВС5х6 (гибкий пятижильный кабель сечением 6 кв. мм.)
		<p/>
		Во многих случаях при плохом входном напряжении для нормального функционирования системы требуется
		установка
		стабилизатора на входе фазы.
		Установка однофазной системы включает только необходимую для резервирования перекоммутацию нагрузок.
		Работы по
		"наведению порядка" в щитке заказчика оплачиваются отдельно.
		Установка системы во многих случаях требует предварительной консультации с клиентом, а также инженерной
		оценки
		работ по инсталляции. Длительность работы системы зависит от потребляемой мощности бытовых приборов и
		количества установленных
		аккумуляторных батарей. Система может быть доукомплектована дополнительными
		<strong>аккумуляторными батареями</strong> для увеличения длительности
		времени <strong>автономной работы</strong>.
	</div>
	<div>
		<div class="item-marker"></div>
		<h1>Оплата сервисного визита (не ремонт) </h1>
		<h3>Ознакомление с объектом и консультация: </h3>
		<p/>
		1500 <span class="line-through">(2000)</span> р. в пределах 1-й бетонки. 2500
		<span class="line-through">(3000)</span> р. в пределах 2-го бетонного кольца (вычитается из суммы
		договора)
		<h3>Гарантийный случай:</h3>
		<p/>
		800 <span class="line-through">(1000)</span> р. в пределах 1-й бетонки. 1500
		<span class="line-through">(2000)</span> р. в пределах 2-го бетонного кольца.</p>
		<h3>Внегарантийный визит:</h3>
		<p/>
		2000 <span class="line-through">(3000)</span> р. в пределах 1-й бетонки. 3000
		<span class="line-through">(4000)</span> р. в пределах 2-го бетонного кольца.</p>
	</div>
	<div>
		<div class="item-marker"></div>
		<h1>Ограничение ответственности</h1>
		<p/>
		ООО «НПП Красная Энергия» не несет ответственности в случае самостоятельной установки клиентом систем
		бесперебойного питания, приобретенных в ООО «НПП Красная Энергия».
		<p/>
		ООО «НПП Красная Энергия» не несет ответственность за порчу оборудования или любые другие негативные
		последствия, возникающие в результате неправильной эксплуатации или превышения штатных параметров
		эксплуатации.
		<p/>
		ООО «НПП Красная Энергия» оставляет за собой право экспертизы испорченного оборудования и отказа в
		гарантии (как
		производителя, так и установочной) в случае выявления фактов неправильной эксплуатации, нарушения правил
		соединения и превышения штатных параметров оборудования.
		<p/>
		Цены могут изменяться без уведомления
	</div>
	<div>
		<div class="item-marker"></div>
		<h1>Гарантийное и послегарантийное обслуживание</h1>
		<p/>
		Гарантийный ремонт производится в соответствии с гарантийным сроком по каждому отдельному продукту.
		Гарантийный срок определяется с момента продажи при наличии чека, или (при отсутствии чека) с даты
		производства, которая указана на стикере на корпусе прибора, подлежащего гарантийному ремонту.
		При отсутствии чека и стикера гарантия на прибор не распространяется.
		<p/>
		Гарантия не распространяется в следующих случаях:
		<ul>
			<li>Коррозия на элементах внутреннего устройства и электронных платах</li>
			<li>Наличие животных/насекомых или их следов внутри прибора</li>
			<li>Удар молнии или следы внешнего воздействия токов высокого напряжения</li>
		</ul>
		<p/>
		При наличии дефектов подлежащих устранению по гарантии производится ремонт и отправляется прибор клиенту
		за счет
		компании. Гарантийные обязательства на составные части оборудования (в виде самостоятельных
		функциональных
		устройств), не произведенные ООО «НПП Красная Энергия», осуществляются соответствующими
		предприятиями-изготовителями на условиях, приведенных в эксплуатационной документации на данные
		составные части.
		<p/>
		В случае отсутствия дефектов прибор будет отправлен клиенту за его счет. Также возможно выставление
		счета за
		проведенное тестирование в размере $50.00. Выезд специалиста возможен в пределах Московской области. В
		случае
		отсутствия дефектов клиент оплачивает вызов специалиста и тестирование в размере $100.
		По всем вопросам гарантии обращаться в компанию по тел. (495) 775-8212
		<p/>
		В случае неправильного монтажа <strong>ветроэнергетической установки</strong> собственными силами или лицами
		неуполномоченными изготовителем
		гарантия производителя не распространяется на следующие механические части установки: генератор, лопасти
		и механизм противобуревой защиты. При этом Гарантия на электронные узлы составляет 6 месяцев.
	</div>
</div>