<%= content_for :title do %>
    Красная Энергия - Оформление заявки
<% end %>
<%= content_for :page_name do %>
    Оформление заявки
<% end %>
<div class="success-order">
  <h1>Ваша заявка принята.</h1>
  <div class="message">
    В ближайшее время с вами свяжется менеджер для уточнения деталей заказа.
  </div>
</div>


