<%= content_for :page_name do %>Тяговые аккумуляторы<% end %>
<%= content_for :title do %>Технологии GEL - Тяговые аккумуляторы<% end %>
<%= content_for :keywords do %>aккумуляторные батареи, тяговые аккумуляторы, gel<% end %>
<%= content_for :description do %>Тяговые аккумуляторы производятся в соответствии с требованиями Европейских стандартов и применяются для всех видов напольного электротранспорта<% end %>
<div id="product">
	<div class="product-description">
		<strong>Аккумуляторные батареи</strong> серии EV для электромашин
		<br/>
		Срок службы: 12
		<br/>
		Диапазон емкости: 7,5 - 230 Ач
		<br/>
		<p/>
		<strong>Тяговые аккумуляторы</strong> производятся в соответствии с требованиями Европейских стандартов
		и применяются для всех видов напольного электротранспорта.
	</div>
	<div class="description-price">
		Цены необходимо уточнить по телефону по тел. 8 (915) 266-87-30 или воспользоваться <a href="orders/new">формой оформления заявки</a>
	</div>
	<table class="catalog-table">
		<tbody>
		<tr>
			<td colspan="2">Технические характеристики</td>
		</tr>
		<tr>
			<td>Номинальное напряжение</td>
			<td>6, 12</td>
		</tr>
		<tr>
			<td>Срок службы</td>
			<td>12</td>
		</tr>
		<tr>
			<td>Диапазон рабочих температур</td>
			<td>-20 - +50С</td>
		</tr>
		<tr>
			<td>Сплав решетки</td>
			<td>PbCaSn</td>
		</tr>
		<tr>
			<td>Пластины</td>
			<td>Намазные</td>
		</tr>
		<tr>
			<td>Сепаратор</td>
			<td>Стекловолокно</td>
		</tr>
		<tr>
			<td>Активный материал</td>
			<td>свинец</td>
		</tr>
		<tr>
			<td>Материал корпуса</td>
			<td>ABS</td>
		</tr>
		<tr>
			<td>Зарядное напряжение</td>
			<td>(max)2.41 В/эл.</td>
		</tr>
		<tr>
			<td>Электролит</td>
			<td>серная кислота</td>
		</tr>
		<tr>
			<td>Предохранительный клапан</td>
			<td></td>
		</tr>
		<tr>
			<td>Выводы</td>
			<td>Вставка под болт, Авто</td>
		</tr>
		<tr>
			<td>Момент затяжки</td>
			<td></td>
		</tr>
		<tr>
			<td>Соединители</td>
			<td></td>
		</tr>
		<tr>
			<td>Типичная область применения</td>
			<td>Машины на электротяге</td>
		</tr>
		</tbody>
	</table>
</div>