<%= content_for :page_name do %>Инверторы МАП SIN Энергия
<% end %>
<%= content_for :title do %>Инверторы МАП SIN Энергия
<% end %>
<%= content_for :keywords do %>инверторы мап sin энергия, мап sin энергия
<% end %>
<%= content_for :description do %>МАП Энергия SIN
<% end %>
<div class="article">
<h2>Описание</h2>
<div class="description_img_inventory">
  1&nbsp;&mdash; Выходные розетки 220В
  <br/>
  2&nbsp;&mdash; Индикатор ЖКИ
  <br/>
  3&nbsp;&mdash; Кнопки управления и программирования
  <br/>
  4&nbsp;&mdash; Светодиодные индикаторы
  <br/>
  5&nbsp;&mdash; Разъем для связи с компьютером или модемом
  <br/>
  6&nbsp;&mdash; Разъем питания модема
  <br/>
  7&nbsp;&mdash; Тумблер для вкл./выкл. низковольтного питания МАП
  <br/>
  8&nbsp;&mdash; Силовые низковольтные провода для подключения к АКБ
  <br/>
  9&nbsp;&mdash; Сетевой предохранитель (автомат для моделей свыше 3кВт)
  <br/>
  10&nbsp;&mdash; Вход для сетевого напряжения 220В
</div>
<img id="inventory_img1" src="/images/products/invetors/invetory_map_descrption1.png" title="Инвентор МАП-LCD Энергия" alt="Инвентор МАП-LCD Энергия"/>
<img id="inventory_img2" src="/images/products/invetors/invetory_map_descrption2.png" title="Инвертор МАП-LCD Энергия" alt="Инвертор МАП-LCD Энергия"/>

<p/>

<div class="description_img_inventory">
  Мощные модели МАП-LAD (от 3кВт включительно) имеют специальную разводочную колодку для подключения к электрощиту.
</div>
<img src="/images/products/invetors/map-lcd-invertor.jpg" alt="Инвентор МАП-LCD Энергия" title="Инвентор МАП-LCD Энергия"/>
<br/>
<p/>
<strong>МАП Энергия SIN</strong> представляет собой многофункциональный преобразователь постоянного напряжения (<strong>инвертор
  напряжения</strong>)
аккумуляторной батареи 12/24/48В в переменное напряжение 220В с частотой 50Гц, с фун
кцией мощного заряда АКБ, и предназначен для питания различных потребителей электроэнергии (электроинструмент, бытовые
электроприборы, радиоаппаратура и т.д.).
<strong>Инвертор МАП Энергия SIN</strong> - это хорошее решения для организации <strong>бесперебойного питания</strong>
при аварийных отключениях в
электросетях.
Если же электричества нет вообще, то совместно с <strong>бензо/дизель/газо генератором</strong>, прибор с несколькими
<strong>АКБ</strong> (например 4 или
6 шт по 200АЧ) может служить источником <strong>автономного электричества</strong> с очень высоким КПД. Генератор будет
включаться лишь
изредка, раз в несколько суток (для подзарядки <strong>АКБ</strong>), а электричество в наличии будет постоянно. А
значит обеспечена
тишина, чистый воздух, длительный ресурс генератора и малый расход топлива.

<h2>Основные возможности МАП «Энергия» SIN:</h2>
<ul>
  <li>Автоматическое мгновенное переключение на <strong>автономное питание</strong> от <strong>аккумуляторов</strong> и
    обратно на сеть, соответственно
    при пропадании и появлении электричества в сети, автоматический заряд и поддержание <strong>АКБ</strong>;
  </li>
  <li>
    Форма сигнала на выходе 220 В чистый синус (в соответствии с ГОСТ 13109-97 для электросетей общего назначения);
  </li>
  <li>
    Автоматический регулятор напряжения. Диапазон входного напряжения (без перехода на батареи, обычно 175В - 250В),
    настраивается пользователем, и обеспечивает дополнительную защиту аппаратуры;
  </li>
  <li>
    Возможность использования в качестве компьютерного UPS (с соответствующим ПО) высокой мощности, с очень большим
    временем автономной работы;
  </li>
  <li>
    Возможность подключения к компьютеру для мониторинга и программирования;
  </li>
  <li>
    Наличие байпаса (автоматическая трансляция 220 В, даже в случае выхода МАП-а из строя);
  </li>
  <li>
    Вентиляторы с изменяемой скоростью вращения для тихой работы;
  </li>
  <li>
    Пиковая мощность (5 сек) более чем вдвое выше номинальной;
  </li>
  <li>
    Автоматическое отключение при перегрузке, перегреве, перепутывании полярности подключения и др. защиты
  </li>
</ul>

<h2>Особые преимущества МАП «Энергия» SIN:</h2>
<ul>
  <li>
    Цифровое табло с отображением всех параметров (напряжений, токов, температур, режимов и др.), с русскоязычным меню,
    позволяет не только быть в курсе происходящего, но и устанавливать пороги переключений, напряжения, токи, в широком
    диапазоне с высокой точностью (все настройки инвертора сохраняются во внутренней энергонезависимой памяти);
  </li>
  <li>Корректная работа с <strong>мини-электростанцией</strong> (перехват нагрузки в случае превышения мощности; автоматическое временное
    уменьшение зарядного тока, в случае общего потребления в рамках максимальной мощности <strong>мини-электростанции</strong>;
    выравнивание зарядного тока);
  </li>
  <li>
    Мощная четырехступенчатая зарядка (до 120А в зависимости от модели) с пошаговой цифровой регулировкой напряжений и
    токов, что позволяет быстро зарядить большую ёмкость <strong>АКБ</strong> и обеспечить длительную автономную работу. <strong>МАП «Энергия»</strong>
    способен заряжать с любые типы аккумуляторов (кислотные, гелевые, <strong>AGM</strong>, щелочные). Есть поддерживающий режим (всегда
    100% заряд) и температурная компенсация (с выносным датчиком на аккумулятор);
  </li>
  <li>
    В случае аварийного разряда <strong>АКБ</strong> до нуля, встроенное зарядное устройство сможет их зарядить и восстановить (даже
    специализированные зарядники далеко не все способны на заряд с нуля);
  </li>
  <li>
    Ограничение тока потребления по входу (ждущий режим, т.е. включение генерации только при появлении нагрузки);
  </li>
  <li>
    Приоритет использования возобновляемых источников для питания нагрузки (режим ЭКО);
  </li>
  <li>
    Возможность использование двухтарифного режима (приоритетная зарядка <strong>АКБ</strong> в ночное время и приоритетная генерация от
    <strong>АКБ</strong> в дневное время).
  </li>
  <li>
    Возможность автоматического увеличения мощности электросетей в пиковое время или при пиковых нагрузках (например,
    если на дом выделено только 2 кВт мощности, то используя МАП SIN 9,0 кВт, можно увеличить мощность вплоть до 9,0
    кВт, причём прибор будет сам, при необходимости, автоматически переходить на <strong>АКБ</strong> и выдавать необходимую мощность);
  </li>
  <li>
    Профессиональное исполнение. Высокопрочный стальной брызгозащищённый, пожаробезопасный корпус. Повышенная надёжность
    и помехозащищённость, в том числе защита от замыкания фаз;
  </li>
  <li>
    Схемотехника базируется на использовании низкочастотных торов (именно дорогих ТОР-ов, а не просто НЧ
    трансформаторов), что хотя и дороже, зато обеспечивает огромные мощности и надёжность (тем не менее, цена ниже
    зарубежных аналогов). Класс устройства – профессиональное;
  </li>
  <li>
    Сертифицированный температурный диапазон -25°C до +35°C.
  </li>
</ul>

<h2>Модификации приборов, рекомендуемые емкости <strong>АКБ</strong></h2>

<table class="catalog-table">
  <thead>
  <tr>
    <th>Модификации приборов, кВт</th>
    <th>1,0</th>
    <th>1,5</th>
    <th>2,0</th>
    <th>3,0</th>
    <th>4,5</th>
    <th>6,0</th>
    <th>9,0</th>
    <th>12,0</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Максимальная мощность (режим активной нагрузки) (кВт):</td>
    <td>1,0</td>
    <td>1,5</td>
    <td>2,0</td>
    <td>3,0</td>
    <td>4,5</td>
    <td>6,0</td>
    <td>9,0</td>
    <td>12,0</td>
  </tr>
  <tr>
    <td>Пиковая мощность, 5 сек (кВт):</td>
    <td>1,5</td>
    <td>2,5</td>
    <td>3</td>
    <td>5</td>
    <td>7</td>
    <td>9</td>
    <td>13</td>
    <td>18</td>
  </tr>
  <tr>
    <td>Номинальная мощность (кВт):</td>
    <td>0,7</td>
    <td>1,0</td>
    <td>1,4</td>
    <td>2,0</td>
    <td>3,0</td>
    <td>4,0</td>
    <td>6,0</td>
    <td>8,0</td>
  </tr>
  <tr>
    <td>Защита сети от короткого замыкания (автомат):</td>
    <td>авт.</td>
    <td>авт.</td>
    <td>авт.</td>
    <td>авт.</td>
    <td>авт.</td>
    <td>авт.</td>
    <td>авт.</td>
    <td>авт.</td>
  </tr>
  <tr>
    <td>Рекомендуемая суммарная емкость <strong>АКБ</strong> (Ач):</td>
    <td>100</td>
    <td>160</td>
    <td>300</td>
    <td>400</td>
    <td>600</td>
    <td>800</td>
    <td>900</td>
    <td>900</td>
  </tr>
  <tr>
    <td>Минимальная суммарная ёмкость <strong>АКБ</strong> (Ач):</td>
    <td>40</td>
    <td>50</td>
    <td>50</td>
    <td>100</td>
    <td>150</td>
    <td>200</td>
    <td>300</td>
    <td>400</td>
  </tr>
  <tr>
    <td>Максимальная суммарная емкость (для 12В, 24В, 48В вариантов <strong>МАП</strong>) <strong>кислотных/гелевых АКБ</strong> (Ач):</td>
    <td>300/200</td>
    <td>400/300</td>
    <td>800/500</td>
    <td>1000/600</td>
    <td>1300/900</td>
    <td>1500/1100</td>
    <td>1500/1100</td>
    <td>1700/1200</td>
  </tr>
  </tbody>
</table>
<h2>Ориентировочное время работы от аккумуляторов</h2>
<table class="catalog-table">
  <thead>
  <tr>
    <th>АКБ</th>
    <th>100 Вт</th>
    <th>300 Вт</th>
    <th>500 Вт</th>
    <th>1 кВт</th>
    <th>2 кВ</th>
    <th>4 кВт</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>8 х 190 А/ч</td>
    <td>172ч</td>
    <td>52ч</td>
    <td>34ч</td>
    <td>17ч</td>
    <td>8ч</td>
    <td>4ч</td>
  </tr>
  <tr>
    <td>6 х 190 А/ч</td>
    <td>130ч</td>
    <td>39ч</td>
    <td>25ч 30м</td>
    <td>12ч 30м</td>
    <td>6ч</td>
    <td>2ч 50м</td>
  </tr>
  <tr>
    <td>4 х 190 А/ч</td>
    <td>86ч</td>
    <td>26ч</td>
    <td>17ч</td>
    <td>8ч 20м</td>
    <td>4ч</td>
    <td>1ч 50м</td>
  </tr>
  <tr>
    <td>2 х 190 А/ч</td>
    <td>42ч</td>
    <td>13ч</td>
    <td>7ч 20м</td>
    <td>3ч 50м</td>
    <td>1ч 40м</td>
    <td>50м</td>
  </tr>
  <tr>
    <td>1 х 190 А/ч</td>
    <td>21ч</td>
    <td>6ч</td>
    <td>3ч 50м</td>
    <td>1ч 40м</td>
    <td>45м</td>
    <td>13м</td>
  </tr>
  <tr>
    <td>1 х 90 А/ч</td>
    <td>9ч 30м</td>
    <td>3ч</td>
    <td>1ч 40м</td>
    <td>45м</td>
    <td>12м</td>
    <td>3м</td>
  </tr>
  <tr>
    <td>1 х 55 А/ч</td>
    <td>5ч 40м</td>
    <td>1ч 45м</td>
    <td>50м</td>
    <td>13м</td>
    <td>3м</td>
    <td>-</td>
  </tr>
  </tbody>
</table>
<h2>Габаритные размеры и вес приборов (Габариты в/г/ш (см))</h2>
<table class="catalog-table">
  <thead>
  <tr>
    <th>до 2,0кВт</th>
    <th>до 9 кВт</th>
    <th>выше 9 кВт</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>32х27х13</td>
    <td>50х33х18</td>
    <td>55х40х20</td>
  </tr>
  </tbody>
</table>
<h2>Вес (кг)</h2>
<table class="catalog-table">
  <thead>
  <tr>
    <th>1,0кВт</th>
    <th>1,5кВт</th>
    <th>2,0кВт</th>
    <th>3,0кВт</th>
    <th>4,5кВт</th>
    <th>6,0кВт</th>
    <th>9,0кВт</th>
    <th>12кВт</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>20</td>
    <td>22</td>
    <td>24</td>
    <td>36</td>
    <td>45</td>
  </tr>
  </tbody>
</table>
<br />
<div>Если подключаете <strong>МАП "Энергию"</strong> к автомобилю - при больших мощностях/пусковых токах нагрузки (>800Вт) - желательно
  завести двигатель. Если для дома - емкость <strong>аккумуляторов</strong> не должна быть менее номинальной (указана в таблице
  технических характеристик).
</div>
<h2>Модификации и цены МАП-LCD "Энергия" SIN <br />(При заказе комплекта оборудования предоставляются скидки. Звоните!)</h2>
<table class="catalog-table">
  <thead>
  <tr>
    <td>Преобразование (U)</td>
    <td>Мощность (P)</td>
    <td>Цена, руб.</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>12В &#8594; 220В</td>
    <td>1,0 кВт</td>
    <td>14950</td>
  </tr>
  <tr>
    <td>12В &#8594; 220В</td>
    <td>1,5 кВт</td>
    <td>17700</td>
  </tr>
  <tr>
    <td>12В &#8594; 220В</td>
    <td>2,0 кВт</td>
    <td>19950</td>
  </tr>
  <tr>
    <td>12В &#8594; 220В</td>
    <td>3,0 кВт</td>
    <td>28950</td>
  </tr>
  <tr>
    <td>24В &#8594; 220В</td>
    <td>1 кВт</td>
    <td>14950</td>
  </tr>
  <tr>
    <td>24В &#8594; 220В</td>
    <td>1,5 кВт</td>
    <td>17700</td>
  </tr>
  <tr>
    <td>24В &#8594; 220В</td>
    <td>2,0 кВт</td>
    <td>19950</td>
  </tr>
  <tr>
    <td>24В &#8594; 220В</td>
    <td>3,0 кВт</td>
    <td>28950</td>
  </tr>
  <tr>
    <td>24В &#8594; 220В</td>
    <td>4,5 кВт</td>
    <td>35950</td>
  </tr>
  <tr>
    <td>24В &#8594; 220В</td>
    <td>6,0 кВт</td>
    <td>42450</td>
  </tr>
  <tr>
    <td>24В &#8594; 220В</td>
    <td>9,0 кВт</td>
    <td>49950</td>
  </tr>
  <tr>
    <td>48В &#8594; 220В</td>
    <td>1 кВт</td>
    <td>14950</td>
  </tr>
  <tr>
    <td>48В &#8594; 220В</td>
    <td>1,5 кВт</td>
    <td>17700</td>
  </tr>
  <tr>
    <td>48В &#8594; 220В</td>
    <td>2,0 кВт</td>
    <td>19950</td>
  </tr>
  <tr>
    <td>48В &#8594; 220В</td>
    <td>3,0 кВт</td>
    <td>28950</td>
  </tr>
  <tr>
    <td>48В &#8594; 220В</td>
    <td>4,5 кВт</td>
    <td>35950</td>
  </tr>
  <tr>
    <td>48В &#8594; 220В</td>
    <td>6,0 кВт</td>
    <td>42450</td>
  </tr>
  <tr>
    <td>48В &#8594; 220В</td>
    <td>9,0 кВт</td>
    <td>49950</td>
  </tr>
  <tr>
    <td>48В &#8594; 220В</td>
    <td>12,0 кВт</td>
    <td>68700</td>
  </tr>
  </tbody>
</table>
</div>