<%= content_for :page_name do %>Энергосберегающие светильники
<% end %>
<%= content_for :title do %>Серия энергосберегающих светодиодных светильников  КЭ-ССД-184(А)
<% end %>
<%= content_for :keywords do %>cветильники. энергосбререгающие светильники
<% end %>
<%= content_for :description do %>cветильники. энергосбререгающие светильники
<% end %>

<div id="product">
  <a class="menu-item" href="/catalog/led_lighting_ke_ccd_184">Серия энергосберегающих светодиодных светильников КЭ-ССД-184(А)</a>
  <a class="menu-item" href="/catalog/led_lighting_ke_ccd_tl418_cl1_2400">Энергосберегающий светодиодный светильник серии КЭ-ССД-TL418-CL1-2400</a>
  <a class="menu-item" href="/catalog/led_lighting_ke_ccd_star">Серия энергосберегающих светодиодных светильников КЭ-ССД-STAR*</a>
</div>