<%= content_for :page_name do %>Энергосберегающие светильники
<% end %>
<%= content_for :title do %>Серия энергосберегающих светодиодных светильников  КЭ-ССД-184(А)
<% end %>
<%= content_for :keywords do %>cветильники. энергосбререгающие светильники
<% end %>
<%= content_for :description do %>cветильники. энергосбререгающие светильники
<% end %>
<div id="product">
	<h1>Серия энергосберегающих светодиодных светильников КЭ-ССД-184(А)</h1>
	<div class="product-description">
		<strong>Энергосберегающий</strong> <strong>светодиодный светильник</strong> серии
		<strong>КЭ-ССД-184(А)</strong> предназначен для замены устаревших <strong>светильников</strong> с
		лампами накаливания или люминесцентными лампами. Он может устанавливаться на стенах, потолках подъездных,
		офисных, производственных, складских помещений, магазинов и т. п.
	</div>
	<h2>Преимущества:</h2>
	<ul>
		<li>простая и надежная конструкция;</li>
		<li>процессорное управление (модель А);</li>
		<li>плавное включение/выключение;</li>
		<li>лучшая (в данном сегменте) эффективность используемых <strong>светодиодов</strong> – до 139 лм/Вт
			американской фирмы CREE;
		</li>
		<li>защита от разогрева <strong>светодиодов</strong> (модель А);</li>
		<li>неограниченное количество циклов включения освещения;</li>
		<li>мгновенное включение при низких температурах;</li>
		<li>полное отсутствие мерцания;</li>
		<li>продолжительный срок службы (срок службы <strong>светодиодов</strong> до 70000 часов);</li>
		<li>встроенный оптико-акустический датчик движения (модель А);</li>
		<li>автоматическое выключение освещения при достаточном внешнем освещении (модель А);</li>
		<li>реализация дежурного режима освещения (модель А);</li>
	</ul>
	<h2>Технические характеристики</h2>
	<table class="catalog-table">
		<tbody>
		<tr>
			<td>Напряжение питающей сети, В.</td>
			<td>170-265</td>
		</tr>
		<tr>
			<td>Потребляемая мощность, Вт</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Эквивалент лампы накаливания, Вт</td>
			<td>60</td>
		</tr>
		<tr>
			<td>Температура цвета, К</td>
			<td>5000-8300</td>
		</tr>
		<tr>
			<td>Ресурс светодиодного модуля, час</td>
			<td>до 70 000</td>
		</tr>
		<tr>
			<td>Температура окружающей среды, С°</td>
			<td>-20+40</td>
		</tr>
		<tr>
			<td>Степень защиты от внешних воздействий, не ниже</td>
			<td>IP54</td>
		</tr>
		<tr>
			<td>Габаритные размеры</td>
			<td>245x150x95</td>
		</tr>
		<tr>
			<td>Световой поток, средний, Lm</td>
			<td>500</td>
		</tr>
		<tr>
			<td>Материал рассеивателя</td>
			<td>поликарбонат</td>
		</tr>
		</tbody>
	</table>
	<div class="description-price">
		*Цены актуальны на 30 июня, их необходимо уточнить по тел. 8 (915) 266-87-30 или воспользоваться
		<a href="orders/new">формой оформления заявки</a>
	</div>
	<h2>Модели и цены</h2>
	<table class="catalog-table">
		<tbody>
			<tr>
				<td><strong>Светильник</strong> <strong>КЭ-ССД-184-500</strong></td>
				<td>1500 руб. (розн., при наличии свободного остатка на складе)</td>
			</tr>
			<tr>
				<td><strong>Светильник</strong> <strong>КЭ-ССД-184А-500</strong></td>
				<td>1650 руб. (розн., при наличии свободного остатка на складе)</td>
			</tr>
		</tbody>
	</table>
</div>