<%= content_for :page_name do %>Энергосберегающие светильники
<% end %>
<%= content_for :title do %>Серия энергосберегающих светодиодных светильников КЭ-ССД-STAR
<% end %>
<%= content_for :keywords do %>cветильники. энергосбререгающие светильники
<% end %>
<%= content_for :description do %>cветильники. энергосбререгающие светильники
<% end %>
<div id="product">
  <h1>
    Назначение
  </h1>
  <div class="product-header-description">
      <img class="product-main-image" src="/images/products/led_lighting/led3.png">
      <div class="product-description">
        Энергосберегающий светодиодный уличный светильник серии КЭ-ССД-STAR56-01 предназначен для освещения больших площадей
        вне помещений. Он может устанавливаться как на стандартные мачты уличного освещения, так и крепится кронштейном к
        любым
        горизонтальным, вертикальным и наклонным поверхностям.
      </div>
  </div>

  <h1>
    Преимущества:
  </h1>
  <ul>
    <li>
      простая и надежная конструкция,
    </li>
    <li>
      светодиоды американской фирмы CREE – лидера в данном сегменте индустрии,
    </li>
    <li>
      два независимых контура питания (по 28 светодиодов),
    </li>
    <li>
      встроенный контроллер коэффициента мощности,
    </li>
    <li>
      неограниченное количество циклов включения освещения,
    </li>
    <li>
      мгновенное включение при низких температурах,
    </li>
    <li>
      продолжительный срок службы (срок службы светодиодов до 70000 часов),
    </li>
    <li>
      отсутствие электролитических конденсаторов,
    </li>
    <li>
      гарантийный срок 3 года.
    </li>
  </ul>

  <h1>
    Технические характеристики
  </h1>
  <table class="catalog-table">
    <tbody>
    <tr>
      <td>
        Напряжение питающей сети, В.
      </td>
      <td>90-264</td>
    </tr>
    <tr>
      <td>
        Потребляемая мощность, Вт
      </td>
      <td>85</td>
    </tr>
    <tr>
      <td>Количество светодиодов</td>
      <td>56</td>
    </tr>
    <tr>
      <td>Температура цвета</td>
      <td>нейтральный белый**</td>
    </tr>
    <tr>
      <td>Ресурс светодиодных модулях, час</td>
      <td>до 70 000</td>
    </tr>
    <tr>
      <td>Температура окружающей среды, С°</td>
      <td>-30+70</td>
    </tr>
    <tr>
      <td>
        Степень защиты от внешних воздействий, не ниже
      </td>
      <td>
        IP54
      </td>
    </tr>
    <tr>
      <td>Габаритные размеры (плафон)</td>
      <td>180x450x65</td>
    </tr>
    <tr>
      <td>Световой поток светодиодов, (средний) Lm</td>
      <td>5600</td>
    </tr>
    <tr>
      <td>Материал рассеивателя</td>
      <td>поликарбонат</td>
    </tr>
    </tbody>
  </table>
  <br />

  <h1>
    ***Цены :
  </h1>
  <table class="catalog-table">
    <tbody>
    <tr>
      <td>1 – 24 шт.</td>
      <td>– 11500 руб (при наличии свободного остатка на складе)</td>
    </tr>
    <tr>
      <td>25 – 49шт.</td>
      <td>–10000 руб (срок изготовления 6-8 недель)</td>
    </tr>
    <tr>
      <td>50 + шт.</td>
      <td>– 9000 руб (срок изготовления от 8 недель)</td>
    </tr>
    </tbody>
  </table>

  <div class="description-price">
    * - на стадии подготовки производства
    ** - возможна поставка теплых и холодных тонов.
    *** - цены предварительные, уточняются после запуска производства
  </div>
</div>