<%= content_for :page_name do %>Энергосберегающие светильники
<% end %>
<%= content_for :title do %>Серия энергосберегающих светодиодных светильников КЭ-ССД-TL418
<% end %>
<%= content_for :keywords do %>cветильники. энергосбререгающие светильники
<% end %>
<%= content_for :description do %>cветильники. энергосбререгающие светильники
<% end %>

<div id="product">
  <h1>Назначение</h1>

  <div class="product-description">
    Энергосберегающий светодиодный светильник серии КЭ-ССД-TL418-CL1-2400 предназначен для установки в подвесные потолки
    системы Армстронг. Он может устанавливаться в потолках
    подъездов, офисов, производственных и складских помещений, магазинов и т. п.
  </div>

  <h1>Преимущества:</h1>
  <ul>
    <li>
      простая и надежная конструкция,
    </li>
    <li>
      светодиоды американской фирмы CREE – лидера в данном сегменте индустрии,
    </li>
    <li>
      два независимых контура питания (по 12 светодиодов),
    </li>
    <li>
      неограниченное количество циклов включения освещения,
    </li>
    <li>
      мгновенное включение при низких температурах,
    </li>
    <li>
      полное отсутствие мерцания,
    </li>
    <li>
      продолжительный срок службы (срок службы светодиодов до 70000 часов),
    </li>
    <li>
      гарантийный срок 2 года.
    </li>
  </ul>

  <h1>
    Технические характеристики
  </h1>
  <table class="catalog-table">
    <tbody>
    <tr>
      <td>
        Напряжение питающей сети, В.
      </td>
      <td>
        90-264
      </td>
    </tr>
    <tr>
      <td>Потребляемая мощность, Вт</td>
      <td>36</td>
    </tr>
    <tr>
      <td>Количество светодиодов</td>
      <td>24</td>
    </tr>
    <tr>
      <td>Температура цвета</td>
      <td>нейтральный белый*</td>
    </tr>
    <tr>
      <td>Ресурс светодиодных модулях, час</td>
      <td>до 70 000</td>
    </tr>
    <tr>
      <td>Температура окружающей среды, С°</td>
      <td>-30+70</td>
    </tr>
    <tr>
      <td>Степень защиты от внешних воздействий, не ниже</td>
      <td>IP20</td>
    </tr>
    <tr>
      <td>Габаритные размеры</td>
      <td>610x610x75</td>
    </tr>
    <tr>
      <td>Световой поток светодиодов, (средний) Lm</td>
      <td>2400</td>
    </tr>
    <tr>
      <td>Материал рассеивателя</td>
      <td>поликарбонат</td>
    </tr>
    </tbody>
  </table>
  <div class="description-price">
    * - возможна поставка теплых и холодных тонов.
  </div>

  <h1>
    Цены:
  </h1>
  <table class="catalog-table">
    <tbody>
    <tr>
      <td>
        1 – 24 шт.
      </td>
      <td>
        – 4500 руб (при наличии свободного остатка на складе)
      </td>
    </tr>
    <tr>
      <td>25 – 49шт.</td>
      <td>– 4100 руб (при наличии свободного остатка на складе)</td>
    </tr>
    <tr>
      <td>
        50 – 99шт.
      </td>
      <td>
        – 3800 руб (срок изготовления 6-8 недель)
      </td>
    </tr>
    <tr>
      <td>100 + шт.</td>
      <td>– 3500 руб (срок изготовления от 8 недель)</td>
    </tr>
    </tbody>
  </table>
</div>

