<%= content_for :page_name do %>Оптико-акустические датчики
<% end %>
<%= content_for :title do %>Серия оптико-акустических датчиков движения КЭ-ДОА
<% end %>
<%= content_for :keywords do %>оптико-акустические датчики, КЭ-ДОА,акустические датчики, энергосберегающие датчики
<% end %>
<%= content_for :description do %>оптико-акустические датчики, КЭ-ДОА,акустические датчики, энергосберегающие датчики
<% end %>
<div id="product">
  <h1>Серия оптико-акустических датчиков движения КЭ-ДОА</h1>
    
  <div class="product-description">
    Выключатель <strong>энергосберегающий</strong> <strong>оптико-акустический</strong>
    <strong>КЭ-ДОА-01(М)</strong>, используется с любыми видами ламп
    мощностью до 250 Вт, предназначен для <strong>автоматического включения освещения</strong> вспомогательных
    помещений:
    лестничных проёмов, переходов, лифтовых холлов и других помещений с временным пребыванием людей в
    общественных и жилых зданиях. Выключатели предназначены для индивидуальной установки на стене или
    потолке.
  </div>
  <h2>Преимущества:</h2>
  <ul>
    <li>простая и надежная конструкция;</li>
    <li>процессорное управление;</li>
    <li>работа с любыми видами нагрузок, в.ч. и с маломощными <strong>энергосберегающими лампами;</strong></li>
    <li>синхронизация включения/выключения нагрузки с переходом фазного напряжения через ноль;</li>
    <li>три режима работы: 1- датчик освещенности, 2- звуковой датчик с контролем освещенности,
      3-звуковой датчик без контроля освещенности;
    </li>
    <li>регулируемая чувствительность микрофона (модель М);</li>
    <li>регулируемая чувствительность фотодатчика (модель М);</li>
    <li>автоматическая подстройка чувствительности микрофона (модель М);</li>
    <li>изменяемая длительность включения.</li>

  </ul>
  <h2>Технические характеристики</h2>
  <table class="catalog-table">
    <tbody>
    <tr>
      <td>Напряжение питающей сети, В.</td>
      <td>220 (±10%), 50 Гц</td>
    </tr>
    <tr>
      <td>Коммутируемая мощность, Вт</td>
      <td>250</td>
    </tr>
    
    <tr>
      <td>Оптический порог активации, люкс</td>
      <td>~ 12±5*</td>
    </tr>
    
    <tr>
      <td>Акустический порог включения, дБ</td>
      <td>60±5*</td>
    </tr>
    
    <tr>
      <td>Время цикла освещения, секунд</td>
      <td>от 50*</td>
    </tr>
    <tr>
      <td>Температура окружающей среды, С°</td>
      <td>-20+40</td>
    </tr>
    <tr>
      <td>Габаритные размеры, мм</td>
      <td>50х35х19</td>
    </tr>
    <tr>
      <td>Радиус действия микрофона, м</td>
      <td>≤5</td>
    </tr>
    <tr>
      <td>Собственное потребление от сети, Вт/ч</td>
      <td>≤0,2</td>
    </tr>
    </tbody>
  </table>
  <div>
    <span>* - параметры могут быть изменены по желанию заказчика</span>
  </div>
  <div class="description-price">
    *Цены актуальны на 30 июня, их необходимо уточнить по тел. 8 (915) 266-87-30 или воспользоваться
    <a href="orders/new">формой оформления заявки</a>
  </div>
  <h2>Модели и цены</h2>
  <table class="catalog-table">
    <tbody>
    <tr>
      <td><strong>КЭ-ДОА-01</strong></td>
      <td>300 руб. (розница, при наличии свободного остатка на складе)</td>
    </tr>
    <tr>
      <td><strong>КЭ-ДОА-01</strong></td>
      <td>250 руб. (заказ от 100 шт.)</td>
    </tr>
    <tr></tr>
    </tbody>
  </table>
</div>
