<%= content_for :page_name do %>Системы автономного электропитания (бензин)<% end %>
<%= content_for :title do %>Системы автономного электропитания (бензин)<% end %>
<%= content_for :keywords do %>cистемы автономного электропитания (бензин), cистемы автономного электропитания<% end %>
<%= content_for :description do %>Системы автономного электропитания (бензин)<% end %>
<div id="product">
	<h1>Системы автономного электропитания 2,8 / 4,0 / 5,0 кВт на базе бензо-генератора</h1>
	<div class="product-description">
		Обеспечивает наиболее экономичное получение <strong>электроэнергии</strong> без подключения к сети
	</div>
	<div class="power_description">
		<img title="Системы автономного электропитания 2,8 / 4,0 / 5,0 кВт" alt="Системы автономного электропитания 2,8 / 4,0 / 5,0 кВт" src="/images/products/self_power/self_power_petrol.png">
		<h2>Принцип работы</h2>
		На первоначальной стадии система вырабатывает напряжение 220В 50Гц при помощи <strong>инвертора МАП &laquo;Энергия&raquo;</strong>
		от <strong>аккумуляторных батарей</strong>. Спустя некоторое время, когда заряд <strong>АКБ</strong> приблизится к своему
		минимому, система
		автоматического пуска активирует работу <strong>бензо-генератора</strong>. <strong>Бензо-генератор</strong>, в свою очередь, будет
		работать до тех
		пор, пока не восстановится заряд <strong>аккумуляторных батарей</strong>. В этот момент напряжение 220В 50Гц на
		нагрузку
		поступает от <strong>бензо-генератора</strong>. Потом цикл работы системы повторяется.
		<h2>Преимущества системы</h2>
		<ul class="products_ol">
			<li>Полностью автоматическая работа;</li>
			<li>Экономичный расход топлива (работа <strong>бензо-генератора</strong> только на время заряда <strong>аккумуляторных батарей</strong>);
			</li>
			<li>Возможность подключения <strong>альтернативных источников энергии</strong> (<strong>солнечных батарей</strong> и/или
			<strong>ветро-генератора</strong>);
			</li>
			<li>Снижение шумовой нагрузки;</li>
			<li>Возможность использования в качестве системы <strong>бесперебойного питания с длительным временем автономности</strong>;
			</li>
			<li>Корректная работа с мини-электростанцией (перехват нагрузки в случае превышения мощности;
			автоматическое временное уменьшение зарядного тока, в случае общего потребления в рамках
			максимальной мощности мини-электростанции; выравнивание зарядного тока);
			</li>
			 <li>Возможность, по желанию пользователя, менять пороги напряжений начала/конца заряда;
			</li>
		</ul>
	</div>
	<div class="clear-both"></div>
	<h2>Основные технические характеристики</h2>
	<table class="catalog-table" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td class="td-header">Выходная мощность <strong>инвертора</strong></td>
			<td>3,0/4,5/6,0 кВт</td>
		</tr>
		<tr>
			<td class="td-header">Выходная мощность <strong>газо-генератора</strong></td>
			<td>2,8/4,0/5,0 кВт</td>
		</tr>
		<tr>
			<td class="td-header">Выходное напряжение (номинальная мощность)</td>
			<td>220В (+10%-15%)</td>
		</tr>
		</tbody>
	</table>
	<h2>Схема включения</h2>
	<img style="margin:0 0 0 210px" title="Системы автономного электропитания схема включения" alt="Системы автономного электропитания схема включения" src="/images/products/self_power/connection_petrol.png">
	<h2>Комплект поставки cистемы автономного электропитания (бензин)</h2>
	<ul>
		<li><strong>Инвертор;</strong></li>
		<li>Комплект <strong>АКБ</strong>;</li>
		<li>Система автоматического пуска <strong>бензо-генератора</strong>;</li>
		<li><strong>Бензо-генератор</strong> модернизированный;</li>
		<li>Шкаф электрический;</li>
		<li>Инструкция по эксплуатации.</li>
	</ul>
</div>