<%= content_for :page_name do %>Системы автономного электропитания (газ)<% end %>
<%= content_for :title do %>Системы автономного электропитания (газ)<% end %>
<%= content_for :keywords do %>cистемы автономного электропитания (газ), cистемы автономного электропитания, газо-генератор<% end %>
<%= content_for :description do %>Системы автономного электропитания (газ)<% end %>
<div id="product">
	<h1>Системы автономного электропитания 3,0 / 4,3 кВт на базе газо-генератора</h1>
	<div class="product-description">
		Обеспечивает наиболее экономичное получение <strong>электроэнергии</strong> без подключения к сети
	</div>
	<div class="power_description">
		<img src="/images/products/self_power/self_power_gas.png" title="Системы автономного электропитания 3,0 / 4,3 кВт" alt="Системы автономного электропитания 3,0 / 4,3 кВт"/>
		<h2>Принцип работы cистемы</h2>
		На первоначальной стадии система вырабатывает напряжение 220В 50Гц при помощи <strong>инвертора МАП</strong> &laquo;Энергия&raquo;
		от <strong>аккумуляторных батарей</strong>. Спустя некоторое время, когда заряд <strong>АКБ</strong> приблизится к своему минимому,
		система
		автоматического пуска активирует работу <strong>газо-генератора</strong>. <strong>Газо-генератор</strong>, в свою очередь, будет работать
		до тех
		пор, пока не восстановится заряд <strong>аккумуляторных батарей</strong>. В этот момент напряжение 220В 50Гц на нагрузку
		поступает от <strong>газо-генератора</strong>. Потом цикл работы системы повторяется.
		<h2>Преимущества cистемы автономного электропитания (газ)</h2>
		<ul>
			<li>Полностью автоматическая работа;</li>
			<li>
				Экономичный расход топлива (работа <strong>газо-генератора</strong> только на время заряда <strong>аккумуляторных батарей</strong>);
			</li>
			<li>Возможность работы от газопровода;</li>
			<li>Экологически чистый вид топлива;</li>
			<li>Возможность подключения <strong>альтернативных источников энергии</strong> (<strong>солнечных батарей</strong> и/или
			<strong>ветро-генератора</strong>);
			</li>
			<li>Снижение шумовой нагрузки;</li>
			<li>Возможность использования в качестве <strong>системы бесперебойного питания</strong> с длительным временем
			автономности;
			</li>
			<li>Корректная работа с мини-электростанцией (перехват нагрузки в случае превышения мощности;
			автоматическое временное уменьшение зарядного тока, в случае общего потребления в рамках
			максимальной мощности мини-электростанции; выравнивание зарядного тока);
			</li>
			<li>Возможность, по желанию пользователя, менять пороги напряжений начала/конца заряда;</li>
		</ul>
	</div>
	<div class="clear-both"></div>
	<h2>Основные технические характеристики</h2>
	<table class="catalog-table" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="td-header">Выходная мощность <strong>инвертора</strong></td>
				<td>3,0/4,5 кВт</td>
			</tr>
			<tr>
				<td class="td-header">Выходная мощность <strong>газо-генератора</strong></td>
				<td>3,4/4,3 кВт</td>
			</tr>
			<tr>
				<td class="td-header">Выходное напряжение (номинальная мощность)</td>
				<td>220В (+10%-15%)</td>
			</tr>
		</tbody>
	</table>
	<h2>Схема включения</h2>
	<img style="margin:0 0 0 200px" src="/images/products/self_power/connection_gas.png" alt="Системы автономного электропитания схема включения"/>
	<h2>Комплект поставки cистемы автономного электропитания (газ)</h2>
	<ul>
		<li><strong>Инвертор</strong>;</li>
		<li>Комплект <strong>АКБ</strong>;</li>
		<li>Система автоматического пуска <strong>газо-генератора</strong>;</li>
		<li><strong>Газо-генератор</strong> модернизированный;</li>
		<li>Шкаф электрический;</li>
		<li>Инструкция по эксплуатации.</li>
	</ul>
</div>