<%= content_for :page_name do %>Солнечные батареи<% end %>
<%= content_for :title do %>Солнечные батареи<% end %>
<%= content_for :keywords do %>солнечные батареи<% end %>
<%= content_for :description do %>Cолнечные батареи<% end %>
<div id="product">
	<div class="product-description">
		<strong>Солнечная энергия</strong> - <strong>энергия будущего</strong>, которая доступна уже в настоящее время.
		Преобразовывая <strong>солнечный свет</strong> в электрический ток, который может использоваться
		непосредственно
		действующими нагрузками, так и накапливаться в <strong>аккумуляторных батареях</strong>. Следует учесть, что
		<strong>солнечные батареи</strong> вырабатывают постоянный ток и для оптимальной эксплуатации <strong>солнечной системы</strong> необходим MPPT
		контроллер.
		В настоящее время наиболее используемые <strong>солнечные батареи</strong> имеют мощность 50-170 Вт.
		Панели устойчивы к механическим повреждениям и влагоустойчивы. Срок службы панели - порядка 20 лет.
	</div>
	<h2>Солнечные батареи 50-170 Вт</h2>
	<table style="width:100%" class="catalog-table">
		<tbody>
		 	<tr>
				<td>75 Вт</td>
				<td>13905 руб</td>
		 	</tr>
			<tr>
				<td>170 Вт</td>
				<td>27810 руб</td>
		 	</tr>
		</tbody>
	</table>
	<div class="description-price">
		* сроки и точные цены необходимо уточнить по тел. 8 (915) 266-87-30 или воспользоваться <a href="orders/new">формой оформления заявки</a>
	</div>
</div>
