<%= content_for :page_name do %>
    Инверторы
<% end %>
<%= content_for :title do %>
    Каталог - Инверторы
<% end %>

<%= content_for :keywords do %>
    Инверторы, Источники бесперебойного электропитания
<% end %>

<%= content_for :description do %>
    Инверторы, Источники бесперебойного электропитания
<% end %>

<div id="products">

<div id="product"><h1>Инверторы МАП-LCD &laquo;Энергия&raquo;</h1>

<p>МАП Энергия LCD представляет собой
  <span class="bold">многофункциональный преобразователь постоянного напряжения</span> (инвертор напряжения)
  аккумуляторной батареи 12/24/48В в переменное напряжение 220В с частотой 50Гц, с функцией мощного заряда АКБ, и
  предназначен для питания различных потребителей электроэнергии (электроинструмент, бытовые электроприборы,
  радиоаппаратура и т.&nbsp;д.).</p>

<p>Инвертор МАП Энергия&nbsp;&mdash; это хорошее решения для организации бесперебойного питания при аварийных
  отключениях в электросетях.</p>

<h2>Модификации и цены</h2>
<table class="price-table animate-table">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Вых.мощность, ном</th>
    <th>Вых. Мощность, макс</th>
    <th>Цена, руб</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="row-header">
      МАП "Энергия" 0.6/0.9-12
    </td>
    <td>900</td>
    <td>900</td>
    <td class="price">12190</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 1.0/1.5-12</td>
    <td>1500</td>
    <td>1500</td>
    <td class="price">13610</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 1.4/2.0-12</td>
    <td>2000</td>
    <td>2000</td>
    <td class="price">16443</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 2.0/3.0-12</td>
    <td>2000</td>
    <td>3000</td>
    <td class="price">21220</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 0.6/0.9-24</td>
    <td>600</td>
    <td>900</td>
    <td class="price">12670</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 1.0/1.5-24</td>
    <td>1000</td>
    <td>1500</td>
    <td class="price">14090</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 1.4/2.0-24</td>
    <td>1400</td>
    <td>2000</td>
    <td class="price">16920</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 2.0/3.0-24</td>
    <td>2000</td>
    <td>3000</td>
    <td class="price">21690</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 3.0/4.5-24</td>
    <td>3000</td>
    <td>4500</td>
    <td class="price">30807</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 4.5/6.0-24</td>
    <td>4000</td>
    <td>6000</td>
    <td class="price">37380</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 6.0/8.8-24</td>
    <td>6000</td>
    <td>8800</td>
    <td class="price">45180</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 0.6/0.9-48</td>
    <td>600</td>
    <td>13400</td>
    <td class="price">12663</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 1.0/1.5-48</td>
    <td>1000</td>
    <td>1500</td>
    <td class="price">14090</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 1.4/2.0-48</td>
    <td>1400</td>
    <td>2000</td>
    <td class="price">16920</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 2.0/3.0-48</td>
    <td>2000</td>
    <td>3000</td>
    <td class="price">21690</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 3.0/4.5-48</td>
    <td>3000</td>
    <td>4500</td>
    <td class="price">30810</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 4.5/6.0-48</td>
    <td>4000</td>
    <td>6000</td>
    <td class="price">37380</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 6.0/8.8-48</td>
    <td>6000</td>
    <td>8800</td>
    <td class="price">45180</td>
  </tr>
  <tr>
    <td class="row-header">МАП "Энергия" 8.0/12.0-48</td>
    <td>8000</td>
    <td>12000</td>
    <td class="price">53490</td>
  </tr>
  </tbody>
</table>
<h2>Описание</h2>

<div id="description_img_inventory">
  <div>1&nbsp;&mdash; Выходные розетки 220В</div>
  <div>2&nbsp;&mdash; Индикатор ЖКИ</div>
  <div>3&nbsp;&mdash; Кнопки управления и программирования</div>
  <div>4&nbsp;&mdash; Светодиодные индикаторы</div>

  <div>5&nbsp;&mdash; Разъем для связи с компьютером или модемом</div>
  <div>6&nbsp;&mdash; Разъем питания модема</div>
  <div>7&nbsp;&mdash; Тумблер для вкл./выкл. низковольтного питания МАП</div>
  <div>8&nbsp;&mdash; Силовые низковольтные провода для подключения к АКБ</div>

  <div>9&nbsp;&mdash; Сетевой предохранитель (автомат для моделей свыше 3кВт)</div>
  <div>10&nbsp;&mdash; Вход для сетевого напряжения 220В</div>
</div>
<img id="inventory_img1" src="/images/products/invetors/invetory_map_descrption1.png" alt="Инвентор МАП-LCD Энергия"/>
<img id="inventory_img2" src="/images/products/invetors/invetory_map_descrption2.png" alt="Инвертор МАП-LCD Энергия"/>

<p>Если же электричества нет вообще, то совместно с бензо/дизель/газо генератором, прибор с несколькими АКБ (например 4
  или 6 шт по 200АЧ) может служить источником автономного электричества с очень высоким КПД. Генератор будет
  включаться лишь изредка, раз в несколько суток (для подзарядки АКБ), а электричество в наличии будет постоянно.
  А значит обеспечена тишина, чистый воздух, длительный ресурс генератора и малый расход топлива.</p>

<h2>Основные возможности МАП LCD &laquo;Энергия&raquo;:</h2>
<ol class="products_ol">
  <li>Автоматическое мгновенное переключение на автономное питание от аккумуляторов и обратно на сеть,
    соответственно при пропадании и появлении электричества в сети, автоматический заряд и поддержание АКБ;
  </li>
  <li>Форма сигнала на выходе 220 В максимально приближена к синусу (сглаженная трапеция);</li>
  <li>Автоматический регулятор напряжения. Диапазон входного напряжения (без перехода на батареи, обычно 175В -
    250В), настраивается пользователем, и обеспечивает дополнительную защиту аппаратуры;
  </li>
  <li>Возможность использования в качестве компьютерного UPS (с соответствующим ПО) высокой мощности, с очень
    большим временем автономной работы;
  </li>

  <li>Возможность подключения к компьютеру для мониторинга и программирования;</li>
  <li>Наличие байпаса (автоматическая трансляция 220 В, даже в случае выхода МАП-а из строя);</li>
  <li>Вентиляторы с изменяемой скоростью вращения для тихой работы;</li>
  <li>Пиковая мощность (5 сек) более чем вдвое выше номинальной.</li>
</ol>
<h2>Особые преимущества МАП LCD &laquo;Энергия&raquo;:</h2>

<ol class="products_ol">
  <li>Цифровое табло с отображением всех параметров (напряжений, токов, температур, режимов и др.), с
    русскоязычным меню, позволяет не только быть в курсе происходящего, но и устанавливать пороги
    переключений, напряжения, токи, в широком диапазоне с высокой точностью (все настройки инвертора
    сохраняются во внутренней энергонезависимой памяти);
  </li>
  <li>Корректная работа с мини-электростанцией (перехват нагрузки в случае превышения мощности; автоматическое
    временное уменьшение зарядного тока, в случае общего потребления в рамках максимальной мощности
    мини-электростанции; выравнивание зарядного тока);
  </li>
  <li>Мощная четырехступенчатая зарядка (до 120А в зависимости от модели) с пошаговой цифровой регулировкой
    напряжений и токов. Работает с любыми типами аккумуляторов. Есть поддерживающий режим (всегда 100%
    заряд) и температурная компенсация;
  </li>
  <li>В случае аварийного разряда АКБ до нуля, встроенное зарядное устройство сможет их зарядить и восстановить;
  </li>
  <li>Ограничение тока потребления по входу (ждущий режим, т.е. включение генерации только при появлении
    нагрузки);
  </li>
  <li>Приоритет использования возобновляемых источников для питания нагрузки (режим эко);</li>

  <li>Возможность использование двухтарифного режима (приоритетная зарядка АКБ в ночное время и приоритетная
    генерация от АКБ в дневное время).
  </li>
  <li>Возможность автоматического увеличения мощности электросетей в пиковое время или при пиковых нагрузках
    (например, если на дом выделено только 2 кВт мощности, то используя МАП LCD 9,0 кВт, можно увеличить
    мощность вплоть до 9,0 кВт, причём прибор будет сам, при необходимости, автоматически переходить на АКБ
    и добавлять необходимую мощность);
  </li>
  <li>Профессиональное исполнение. Высокопрочный стальной брызгозащищённый, пожаробезопасный корпус. Повышенная
    надёжность и помехозащищённость, в том числе защита от замыкания фаз (входного напряжения 380В);
  </li>
  <li>Схемотехника базируется на использовании низкочастотных торов (именно дорогих ТОР-ов, а не просто НЧ
    трансформаторов), что хотя и дороже, зато обеспечивает огромные мощности и надёжность (тем не менее,
    цена значительно ниже зарубежных аналогов). Класс устройства&nbsp;&mdash; профессиональное;
  </li>
  <li>Сертифицированный температурный диапазон -25°C до +35°C.</li>

</ol>
<h2>Модификации приборов МАП LCD &laquo;Энергия&raquo;, рекумендуемые емкости АКБ</h2>
<table cellspacing="0" cellpadding="2" class="inventories_characteristics">
  <tr>
    <td>Модификации приборов : МАП Энергия (LCD),кВт</td>
    <td class="center bold">0,9</td>
    <td class="center bold">1,5</td>

    <td class="center bold">2,0</td>
    <td class="center bold">3,0</td>
    <td class="center bold">4,5</td>
    <td class="center bold">6,0</td>
    <td class="center bold">9,0</td>
    <td class="center bold">12,0</td>

  </tr>
  <tr>
    <td>Максимальная мощность (режим активной нагрузки) (кВт):</td>
    <td class="center">0,9</td>
    <td class="center">1,5</td>
    <td class="center">2,0</td>
    <td class="center">3,0</td>

    <td class="center">4,5</td>
    <td class="center">6,0</td>
    <td class="center">9,0</td>
    <td class="center">12,0</td>
  </tr>
  <tr>
    <td>Пиковая мощность, 5 сек (кВт):</td>

    <td class="center">1,5</td>
    <td class="center">2,5</td>
    <td class="center">3</td>
    <td class="center">5</td>
    <td class="center">7</td>
    <td class="center">9</td>

    <td class="center">13</td>
    <td class="center">18</td>
  </tr>
  <tr>
    <td>Номинальная мощность (кВт):</td>
    <td class="center">0,6</td>
    <td class="center">1,0</td>

    <td class="center">1,4</td>
    <td class="center">2,0</td>
    <td class="center">3,0</td>
    <td class="center">4,0</td>
    <td class="center">6,0</td>
    <td class="center">8,0</td>

  </tr>
  <tr>
    <td>Защита сети от короткого замыкания (предохранитель / автомат):</td>
    <td class="center">пред.</td>
    <td class="center">пред.</td>
    <td class="center">пред.</td>
    <td class="center">пред</td>

    <td class="center">авт.</td>
    <td class="center">авт</td>
    <td class="center">авт.</td>
    <td class="center">авт.</td>
  </tr>
  <tr>
    <td>Рекомендуемая суммарная емкость АКБ (А/ч):</td>

    <td class="center">100</td>
    <td class="center">160</td>
    <td class="center">300</td>
    <td class="center">400</td>
    <td class="center">600</td>
    <td class="center">800</td>

    <td class="center">900</td>
    <td class="center">900</td>
  </tr>
  <tr>
    <td>Минимальная суммарная емкость АКБ (А/ч):</td>
    <td class="center">40</td>
    <td class="center">40</td>

    <td class="center">50</td>
    <td class="center">50</td>
    <td class="center">100</td>
    <td class="center">200</td>
    <td class="center">200</td>
    <td class="center">400</td>

  </tr>
  <tr>
    <td>Максимальная суммарная емкость (для 12В и 24В вариантов МАП)кислотных/гелевых АКБ (А/ч):
    <td class="center">300/200</td>
    <td class="center">400/300</td>
    <td class="center">800/500</td>
    <td class="center">1000/600</td>

    <td class="center">1300/900</td>
    <td class="center">1500/1100</td>
    <td class="center">1700/1200</td>
    <td class="center">--</td>
  </tr>
  <tr>
    <td>Максимальная суммарная емкость (для 48 В вариантов МАП) кислотных/гелевых АКБ (А/ч):</td>

    <td class="center">200/140</td>
    <td class="center">300/200</td>
    <td class="center">600/350</td>
    <td class="center">700/400</td>
    <td class="center">800/500</td>
    <td class="center">900/550</td>

    <td class="center">1000/600</td>
    <td class="center">1100/700</td>
  </tr>
</table>

</div>
</div>
