<%= content_for :page_name do %>Системы бесперебойного электропитания<% end %>
<%= content_for :title do %>Системы бесперебойного электропитания<% end %>
<%= content_for :keywords do %>cистемы бесперебойного электропитания, бесперебойное электропитание<% end %>
<%= content_for :description do %>cистемы бесперебойного электропитания<% end %>
<div id="product">
	<h1>Системы бесперебойного электропитания 2,0 / 3,0 / 4,5 / 6,0 / 8,8 / 12,0 кВт</h1>
	<div class="product-description">
		Лучшее решение проблем с <strong>электричеством</strong> для ДАЧИ, КВАРТИРЫ, ОФИСА, МАГАЗИНА
	</div>
	<div class="power_description">
		<img src="/images/products/uninterruptible_power/item.png" alt="Системы бесперебойного электропитания 2,0 / 3,0 / 4,5 / 6,0 / 8,8 / 12,0 кВт"/>
		<h2>Принцип работы</h2>
		Система состоит из преобразователя постоянного напряжения 12В (24, 48) в переменное 220В 50Гц и
		комплекта аккумуляторных батарей. Преобразователь совмещает в себе функции <strong>инвертора</strong>,
		<strong>источника бесперебойного питания</strong> и
		зарядного устройства. В штатном режиме система использует 220В от электросети, в случае перебоя подачи
		электричества включается <strong>инвертор</strong>, который вырабатывает 220В 50 Гц от <strong>аккумуляторов</strong>. После
		восстановления сетевого 220В <strong>инвертор</strong> осуществляет подзарядку <strong>аккумуляторов</strong>.
		<h2>Преимущества системы</h2>
		<ul>
			<li>Повышенная надёжность и помехозащищённость*, в том числе защита от замыкания фаз (входного напряжения 380 В);
			</li>
			<li>Регулируемая двухступенчатая система заряда <strong>аккумуляторов</strong>;</li>
			<li>Возможность подключения альтернативных источников энергии (при заказе в комплекте с <strong>солнечными батареями</strong> или ветро-генератором);
			</li>
			<li>Устойчивость к перегрузкам;</li>
			<li>Возможность подключать практически любые виды нагрузок**, в т.ч.асинхронные двигатели;</li>
			<li>Микропроцессорное управление;</li>
			<li>Возможность автоматического увеличения мощности электросетей в пиковое время или при пиковых нагрузках (например, если на дом выделено только 2 кВт мощности, то используя эту
			систему, например, 8,8 кВт, можно использовать мощность вплоть до 8,8 кВт, причём прибор будет
			сам, при необходимости, автоматически переходить на <strong>АКБ</strong> и добавлять необходимую мощность).
			</li>
		</ul>
	<div class="clear-both"></div>
	</div>
	<h2>Основные технические характеристики</h2>
	<table class="catalog-table" cellpadding="2" cellspacing="0">
		<tr>
			<td class="td-header">Выходная мощность номинальная</td>
			<td>1,4/2,0/3,0/4,5/6,0/8,0 кВт</td>
		</tr>
		<tr>
			<td class="td-header">Выходная мощность максимальная (30 мин.)</td>
			<td>2,0/3,0/4,5/6,0/8,8/12,0 кВт</td>
		</tr>
		<tr>
			<td class="td-header">Выходное напряжение (номинальная мощность)</td>
			<td>220В (+10%-15%)</td>
		</tr>
		<tr>
			<td class="td-header">Частота выходного напряжения</td>
			<td>50 Гц</td>
		</tr>
		<tr>
			<td class="td-header">Форма выходного напряжения</td>
			<td>сглаженная трапеция</td>
		</tr>
	</table>
	<h2>Варианты применения</h2>
	<table class="catalog-table" cellpadding="2" cellspacing="0">
		<tr>
			<td class="td-header">КВАРТИРА:</td>
			<td>защита холодильников от разморозки</td>
		</tr>
		<tr>
			<td class="td-header">ОФИС:</td>
			<td>защита офисного оборудования</td>
		</tr>
		<tr>
			<td class="td-header">ДАЧА:</td>
			<td>защита отопительного оборудования (управление газовыми котлами, рециркуляционные насосы)
			</td>
		</tr>
		<tr>
			<td class="td-header">МАГАЗИН:</td>
			<td>защита кассового и холодильного оборудования</td>
		</tr>
		<tr>
			<td class="td-header">ГАРАЖ:</td>
			<td>подключение электроинструмента с мощность превышающей возможности существующей электросети (кратковременно и только в режиме работы от аккумуляторов)
			</td>
		</tr>
	</table>
	<h2>Комплект поставки cистемы бесперебойного электропитания</h2>
	<ul>
		<li><strong>Иинвертор</strong>;</li>
		<li>Комплект <strong>АКБ</strong>;</li>
		<li>Шкаф электрический;</li>
		<li>Инструкция по эксплуатации.</li>
	</ul>
</div>
