<%= content_for :page_name do %>Ветроэлектрическая установка<% end %>
<%= content_for :title do %>Ветроэлектрическая установка<% end %>
<%= content_for :keywords do %>ветроэлектрическая установка. ветрогенераторы<% end %>
<%= content_for :description do %>Ветроэлектрическая установка<% end %>
<div id="product">
	<h1>Ветроэлектрическая установка КЭ-ВГ-1000-24</h1>
	<div class="product-description">
		Лучшее решение проблем с <strong>электичеством</strong> для коттеджа и дачи
	</div>
	<p/>
	<strong>Ветроэлектрическая установка КЭ-ВГ-1000-24</strong> предназначена для использования в качестве
	<strong>автономного источника электроэнергии</strong> и может работать:
	<ul>
		<li>В буферном режиме с <strong>аккумуляторной батарей</strong> для питания электроприборов постоянного тока напряжением 24 В, мощностью до 1000 Вт;
		</li>
		<li>В режиме без <strong>аккумуляторной батареи</strong>.</li>
	</ul>
	<h2>Модели и Цены</h2>
	<div style="font-size:14px; ">
		Цена 69900р, (дополнительная скидка льготным категориям граждан 5%)
	</div>
	<h2>Описание Системы</h2>
	<div class="power_description">
		<img src="/images/products/wind_generator/item.png" title="Ветроэлектрическая установка КЭ-ВГ-1000-24" alt="Ветроэлектрическая установка КЭ-ВГ-1000-24"/>
		<img id="wind_gen_monitor" src="/images/products/wind_generator/monitor.png" alt="Ветроэлектрическая установка" title="Ветроэлектрическая установка"/>
		<div class="clear-both"></div>
		<ul>
			<li>Полностью автоматическая работа;</li>
			<li>Возможность подключения 2-го <strong>ветрогенератора</strong> (модель - М2);</li>
			<li>Возможность подключения <strong>солнечной батареи</strong> (базовая модель);</li>
			<li>Низкий уровень шумов;</li>
			<li>Блок заряда с микропроцессорным управлением;</li>
			<li>Несколько режимов заряда <strong>аккумуляторных батарей</strong>;</li>
			<li>Удобный информативный дисплей блока заряда <strong>АКБ</strong>;</li>
			<li>Широкие возможности по настройки блока заряда;</li>
			<li>Встроенный умножитель напряжения, позволяет обеспечить заряд при малом ветре;</li>
			<li>Возможность подключения к ПЭВМ через порт USB 2.0 (для систем "Гармоничный Дом"™, модель -U);</li>
		</ul>
	</div>
	<h2>Основные технические характеристики</h2>
	<table class="catalog-table" cellpadding="2" cellspacing="2">
		<tr>
			<td>Стартовая скорость ветра</td>
			<td>3 м/с</td>
		</tr>
		<tr>
			<td>Максимальная скорость ветра</td>
			<td>25 м/с</td>
		</tr>
		<tr>
			<td>Расчетная скорость ветра</td>
			<td>9 м/с</td>
		</tr>
		<tr>
			<td>Максимальная мощность при расчетном ветре</td>
			<td>1000 Вт</td>
		</tr>
		<tr>
			<td>Расчетное выходящее напряжение (постоянный ток)</td>
			<td>27 В</td>
		</tr>
		<tr>
			<td>Допустимая мощность нагрузки</td>
			<td>1000 Вт</td>
		</tr>
		<tr>
			<td>Диаметр ветроколеса</td>
			<td>3 м</td>
		</tr>
		<tr>
			<td>Высота мачты (базовая комплектация)</td>
			<td>8м</td>
		</tr>
		<tr>
			<td>Общая высота <strong>ветроустановки</strong></td>
			<td>9,7м</td>
		</tr>
		<tr>
			<td>Масса установки (упакованный комплект), не более</td>
			<td>80кг</td>
		</tr>
		<tr>
			<td>Средний срок службы</td>
			<td>7 лет</td>
		</tr>
	</table>
	<h2>Рекомендуемая схема включения</h2>
	<div>
		<div>А. <strong>Вевтроэлектрическая установка КЭ-ВГ-1000-24</strong>;</div>
		<div>B. <strong>Блок стабилизатора КЭ-БС-1000</strong>;</div>
		<div>С. <strong>Блок ТЭН 2200;</strong></div>
		<div>D. <strong>Аккумуляторы</strong> (в поставочный комплект не входят);</div>
		<div>E. <strong>Инвертор DC24&nbsp;&mdash; АС 220 В, 50 Гц</strong> (в поставочный комплект не входит);</div>
		<div>1. Лопасть флюгера;</div>
		<div>2. Труба флюгера;</div>
		<div>3. Тяга;</div>
		<div>4. Планка;</div>
		<div>5. Кронштейн генератора;</div>
		<div>6,7 Болты;</div>
		<div>8. Ветроколесо;</div>
		<div>9. Генератор;</div>
		<div>10. Мачта.</div>
	</div>
	<img style="margin:0 0 0 180px" src="/images/products/wind_generator/connection.png" alt="Схема включения"/>
	<h2>Комплект поставки</h2>
	<ul>
		<li><strong>Ветрогенератор</strong> с механизмом противобуревой защиты;</li>
		<li><strong>Блок стабилизации</strong> (заряда <strong>АКБ</strong>);</li>
		<li><strong>Блок электротормоза</strong> (ТЭН);</li>
		<li>Мачта 8 м с комплектом креплений;</li>
		<li>Электрокабель (от <strong>ветрогенератора</strong> до блок стабилизации);</li>
	</ul>
	<h2>Улучшения ветрогенератора КЭ-ВГ-1000-24</h2>
	<table class="catalog-table" cellpadding="5" cellspacing="0">
		<tr>
			<td colspan="2" class="td-header">Ветроколесо</td>
		</tr>
		<tr>
			<td>Увеличенный размер лопастей, от 1,5 кВт</td>
			<td>При малых ветрах выдает больше энергии</td>
		</tr>
		<tr>
			<td>Лопасти изготовлены из облегченного пластика</td>
			<td>Малый вес конструкции, уменьшение нагрузок на подшипники генератора и поворотный механизм. Старт генератора при меньшем ветре (малая инерция)
			</td>
		</tr>
		<tr>
			<td>Интегрированный в лопасти алюминиевый каркас с двойным профилем жесткости</td>
			<td>Обеспечивается необходимая жесткость и прочность лопастей при минимальном весе. Уменьшается вероятность
			небезопасного разрушения лопастей при внешнем воздействии (попадание птицы)
			</td>
		</tr>
		<tr>
			<td>Интегрированный в лопасти стальной трос</td>
			<td>Уменьшается вероятность небезопасного разрушения лопастей при внешнем воздействии (попадание птицы)
			</td>
		</tr>
		<tr>
			<td colspan="2" class="td-header">Генератор</td>
		</tr>
		<tr>
			<td>Производство на военном авиазаводе</td>
			<td>Увеличение надежности и качества</td>
		</tr>
		<tr>
			<td>Малый вес по сравнению с аналогами (китайскими)</td>
			<td>Малый вес конструкции, уменьшение нагрузок на поворотный механизм</td>
		</tr>
		<tr>
			<td>Нулевое усилие страгивания (отсутвует магнитное залипание гератора)</td>
			<td>Старт генератора при меньшем ветре (нет первоначального сопротивления генератора)</td>
		</tr>
		<tr>
			<td colspan="2" class="td-header">Блок заряда</td>
		</tr>
		<tr>
			<td>Встроенный умножитель напряжения</td>
			<td>Позволяет обеспечить заряд при малом ветре (заряд происходит даже в случае, когда на генераторе
			напряжение меньше чем на <strong>АКБ</strong>)
			</td>
		</tr>
		<tr>
			<td>Полностью автоматическая работа</td>
			<td>Не требует обслуживающего персонала</td>
		</tr>
		<tr>
			<td>Возможность подключения 2-го <strong>ветрогенератора</strong> (модель - М2)</td>
			<td>Увеличение выходной мощности с минимальными затратами</td>
		</tr>
		<tr>
			<td>Возможность подключения <strong>солнечной батареи</strong> (базовая модель)</td>
			<td>Не нужно покупать дополнительные устройства</td>
		</tr>
		<tr>
			<td>Микропроцессорное управление</td>
			<td>Универсальность применения, интеллектуальное управление</td>
		</tr>
		<tr>
			<td>Несколько режимов заряда аккумуляторных батарей</td>
			<td>Возможность использовать разные типы <strong>батарей</strong>, продление срока службы <strong>АКБ</strong>*</td>
		</tr>
		<tr>
			<td>Удобный информативный дисплей блока заряда <strong>АКБ</strong></td>
			<td>Простота и наглядность управления</td>
		</tr>
		<tr>
			<td>Широкие возможности по настройки блока заряда</td>
			<td>Один и тот же блок можно использовать для заряда <strong>АКБ</strong> 12/24/48**</td>
		</tr>
		<tr>
			<td>Встроенная многоуровневая защита по току, напряжению и мощности</td>
			<td>Обеспечение защиты генератора от перегрузок, нагрузки от всплесков напряжения и тока</td>
		</tr>
		<tr>
			<td>Дополнительные выходы***</td>
			<td></td>
		</tr>
		<tr>
			<td>ТЭН2 и термодатчик</td>
			<td>Нагрев воды в бойлере</td>
		</tr>
		<tr>
			<td>USB</td>
			<td>Подключение к компьютеру</td>
		</tr>
	</table>
	<br/>
	*&nbsp;&mdash; по сравнению с тем, если бы не использовался автоматический контроль параметров заряда <strong>АКБ</strong>
	<br/>
	**&nbsp;&mdash; заряд <strong>АКБ</strong> 48В обеспечивается только при достаточной силе ветра
	<br/>
	***&nbsp;&mdash; устанавливается по дополнительному требованию заказчика
	<h2>Перспективная разработка</h2>
	<h3>Ветрогенератор с вертикальной осью врещения с оптимизированным профилем крыла</h3>
	<img style="margin:0 0 0 200px" src="/images/products/wind_generator/future.png" alt="ветрогенератор с вертикальной осью врещения с оптимизированным профилем крыла"/>
</div>