<%= content_for :page_name do %><span>О компании &laquo;Красная энергия&raquo;</span><% end %>
<%= content_for :title do %>О компании - Научно-производственное предприятие - Автономное питание домов<% end %>
<%= content_for :description do %>О компании - Научно-производственное предприятие - Автономное питание домов<% end %>
<%= content_for :keywords do %>научно-производственное предприятие красная энергия, автономное питание, нпп красная энергия<% end %>
<div id="product">
	<h1>Научно-производственное предприятие &laquo;Красная энергия&raquo;</h1>
	<p/>
	Наша организация занимается <strong>изготовлением, монтажем и обслуживание систем автономного и бесперебойного
	электроснабжения</strong> с 2001 года.
	<p/>
	Наименование организации:<strong>ООО &laquo;НПП Красная Энергия&laquo;</strong>
	<p/>
	Сфера деятельности:<strong>Энергосберегающие технологии</strong>
	<p/>
	Производственный статус:<strong>Инжиниринговая компания</strong>
	<h2>Задачи:</h2>
	<ul>
		<li>Поиск источников финансирования</li>
		<li>Организация маркетинговой службы</li>
		<li>Повышение качества продукции</li>
		<li>Разтаботка передовых технических средств в области <strong>энергосбережения</strong></li>
		<li>Организация <strong>собственного производства</strong></li>
		<li>Организация службы сервиса</li>
	</ul>
	<div>
		<h2>Реализованные проекты:</h2>
		<ul>
			<li>Смонтирован ряд систем <strong>бесперебойного электропитания</strong> на объектах
				заказчиков в т.ч. c <strong>ветрогенераторами</strong>
			</li>
			<li>
				<strong>Уставлены датчики движения на светильники освещения</strong> в подъездах жилых
				домов в г. Подольске  (более 10 домов)
			</li>
		</ul>
		<h2>Бесперебойное электроснабжение</h2>
		<strong>Бесперебойное электроснабжение загородного дома</strong> &mdash; ключевой момент для любителей
		проводить время за городом.
		Отключение отопления и света, неработающий холодильник &mdash; результат общего
		<strong>электроснабжения</strong> коттеджа.
		В таком случае, <strong>резервное питание</strong> просто необходимо.
		Заказав <strong>резервное электроснабжение загородного дома</strong> (резервное питание) у нас, Вы
		забудете про проблемы,
		связанные с перебоями в сети. <strong>Бесперебойное электроснабжение коттеджа</strong> с нами &mdash;
		долговечное и надежное решение вопроса!
		<br/>
		Преимущество системы <strong>бесперебойного электроснабжения загородного дома</strong> и остальных
		помещений
		в модульности данной системы. Возможно установить систему <strong>резервного питания</strong> в
		минимальном исполнении системы <strong>резервного питания</strong>,
		а затем и наращивать систему. Устанавливая <strong>бесперебойное электроснабжение</strong>, Вы сможете
		использовать и оставшиеся у Вас генераторы.
		Система <strong>бесперебойного электроснабжения</strong> использует
		<strong>газовые, бензиновые и дизель генераторы</strong>, как зарядку батарей.
		Выбирайте системы <strong>резервного электроснабжения</strong> в &laquo;НПП Красная Энергия&raquo; и Ваш
		дом станет &laquo;неприступной крепостью&raquo;!
		<h2>Контакты</h2>
		<p />
		Генеральный директор: <strong>Попов Алексей Александрович</strong>
		<p />
		Адреc: 142115, Московская область, г. Подольск, ул. Рощинская, д.3
		<p />
		Телефон, факс: (495) 775-82-12
		<p />
		E-mail: <a href="mailto:info@red-energy.ru" class="mail-antispam">ur.ygrene-der@ofni</a>
	</div>
</div>
