<%= content_for :page_name do %>
    Типовые решения: автономные системы
<% end %>
<%= content_for :title do %>
    Типовые решения: автономные системы
<% end %>

<%= content_for :keywords do %>
    электрификация. автономные системы
<% end %>

<%= content_for :description do %>
    электрификация. автономные системы
<% end %>

<div class="article" style="overflow:hidden">
  <img class="margin-auto" style="display:block;" width="701px" src="/images/solutions/autonomous_system_stand_sol.png" alt="Типовые решения: автономные системы." title="Типовые решения: автономные системы.">
</div>
<div>
  
</div>