<%= content_for :page_name do %>
    Электрификация загородного дома
<% end %>
<%= content_for :title do %>
    Типовое решение: электрификация загородного дома
<% end %>

<%= content_for :keywords do %>
    электрификация, решение для загородных домов
<% end %>

<%= content_for :description do %>
    Электрификация. Решение для загородных домов
<% end %>

<div class="article">
  <h1>Независимо от обстоятельств</h1>
  <p>
    Жизнь в загородном доме это мечта любого горожанина. Вот только как обеспечить комфорт как в городской квартире?
    <strong>Автономное электроснабжение</strong> для загородного дома сейчас не проблема. В большинстве случаев фирмы
    поставщики
    рекомендуют устанавливать миниэлектростанции внутреннего сгорания работающие на дизельном топливе, бензине или
    сжиженном/природном газе. Да, это решение достаточно недорого, надежно, но имеет кучу недостатков — постоянный шум
    двигателя, невысокий ресурс, постоянное обслуживание и, наконец, запах выхлопных газов на фоне свежего загородного
    воздуха.
  </p>

  <p>
    Мы предлагаем отказаться от постоянно работающей электростанции и, соответственно, уменьшить до минимума их
    недостатки. Если совместить <strong>миниэлектростанцию</strong> с <strong>инвертором</strong> и буферными
    аккумуляторными батареями, то это позволит
    запускать электростанцию на 4-5 часа в день вместо круглосуточной работы. Более того, это решение не только
    позволит уменьшить шум и выброс выхлопных газов, но и сэкономить на стоимости вырабатываемого электричества, т.к.
    <strong>электрогенератор</strong> будет работать в оптимальном режиме. Также это увеличит ресурс
    <strong>электрогенератора</strong> и стоимость его
    обслуживания. А автоматика отслеживания и запуска генератора позволит вам "забыть" об обслуживании системы — вам
    остается только следить, чтобы не закончилось топливо!
  </p>

  <p>
    <b>Решение:</b> Установка <strong>инвертора</strong> мощностью 6,0-9,0кВт совместно с 4-8шт
    <strong>необслуживаемыми аккумуляторными батареями</strong>
    общей
    емкостью 800-1600 А/часов. <strong>Электрогенератор</strong> мощностью 3-6кВт. Система автоматики. Практически
    неограниченный срок
    автономной работы 15-30 часов.
  </p>

  <p>
    <b> Стоимость оборудования:</b> 120-200 тыс.рублей.
  </p>

  <p>
    <b> Установка:</b> Только знающими и сертифицированными электриками. Специальное или
    подготовленное помещение. Соблюдение
    норм противопожарной безопасности.
  </p>

  <p>
    <b> Обслуживание:</b> Переидическое, но квалифицированное. Отслеживание запаса топлива,
    уровня масла, сезонное
    обслуживание
    двигателя генератора.
  </p>

  <p>
    <b> Минусы:</b> Переидическое обслуживание, обеспечение достаточного запаса топлива.
  </p>
</div>