<%= content_for :page_name do %>
    Решения для ЖКХ.
<% end %>
<%= content_for :title do %>
    Тповое решение: Система энергосберегающего освещения для ЖКХ 220В 50Гц
<% end %>

<%= content_for :keywords do %>
    электрификация, система энергосберегающего освещения для ЖКХ 220В 50Гц, жкх
<% end %>

<%= content_for :description do %>
    Тповое решение: Система энергосберегающего освещения для ЖКХ 220В 50Гц
<% end %>

<div class="article">
  <h1>Система энергосберегающего освещения для ЖКХ 220В 50Гц.</h1>
  <img class="margin-auto" src="/images/solutions/energy_efficient_lighting_jkh_220v_50hz.png" alt="Система энергосберегающего освещения для ЖКХ 220В 50Гц" title="Система энергосберегающего освещения для ЖКХ 220В 50Гц">
</div>