<%= content_for :page_name do %>
    Решения для ЖКХ.
<% end %>
<%= content_for :title do %>
    Тповое решение: Система энергосберегающего освещения для ЖКХ LED
<% end %>

<%= content_for :keywords do %>
    электрификация, система энергосберегающего освещения для жкх, жкх
<% end %>

<%= content_for :description do %>
    Электрификация.  Система энергосберегающего освещения для ЖКХ
<% end %>

<div class="article">
  <h1>Система энергосберегающего освещения для ЖКХ LED</h1>
  <img class="margin-auto" src="/images/solutions/energy_efficient_lighting_jkh_led.png" alt="Система энергосберегающего освещения для ЖКХ LED" title="Система энергосберегающего освещения для ЖКХ LED">
</div>