<%= content_for :page_name do %>
    Автономное электроснабжения для дачи
<% end %>
<%= content_for :title do %>
    Автономное электроснабжения для дачи
<% end %>

<%= content_for :keywords do %>
    Автономное электроснабжения,
<% end %>

<%= content_for :description do %>
    Автономное электроснабжения,
<% end %>

<div id="products">
  <div id="product">


    <h1>Дачная "Автономка"</h1>

    <p>
      Большинство дачных домов имеют минимальный уровень комфорта - есть электричество и холодная вода. При этом все что
      нужно для комфортного отдыха от городской жизни - телевизор, холодильник и освещение. Насосов отопления,
      водоснабжения и прочего мощного оборудования, которому требуется постоянное мощное электричество нет. Но весной и
      осенью часто выключается электричество. Скучно сидеть в темноте , без любимого сериала и, к тому же, пиво в
      холодильнике нагревается.
    </p>

    <p>
      <span class="font-bold">Решение:</span> Установка <strong>инвертора</strong> мощностью 1,5-2,0кВт совместно
      с 1-2шт стандартными
      аккумуляторными батареями
      общей
      емкостью 200-400 А/часов. Возможно требуется установка стабилизатора. Средний срок автономной работы 5-10 часов.
      Установка ветрогенераторов, для зарядки севших аккумуляторов.
    </p>

    <p>
      <span class="font-bold">Состав:</span>
    <ul>
      <li>
        <a href="catalog/invertors" title="МАП Энергия"> МАП "Энергия"</a>
        2,0кВт/12В...........................................1шт......17400 р.
      </li>
      <li>
        АКБ 190А/ч (негерметичные).......................................1шт........6800 р.
      </li>
      <li>
        Ветрогенератор.........................................................1шт........69900 р.
      </li>
      <li>
        Итого....................................................................................24200 р.
      </li>
    </ul>
    </p>
    <p>
      <span class="font-bold">Стоимость оборудования:</span> 95-100 тыс.рублей.
    </p>

    <p>
      <span class="font-bold">Установка:</span> При наличии "головы" и "прямых рук" — 1-2 часа.
    </p>

    <p>
      <span class="font-bold">Обслуживание:</span> Минимальное. Следить за сохранностью АКБ, не допускать их заморозки и
      проверять уровень электролита.
    </p>

    <p>
      <span class="font-bold">
      Минусы:  
      </span>
      Самостоятельно отслеживать чтобы не было нерегламентированных нагрузок и вручную отслеживать общий уровень
      используемой мощности.
    </p>
  </div>
</div>