<%= content_for :page_name do %>Решения электроснабжения
<% end %>
<%= content_for :title do %>Решения - Система энергосберегающего освещения для ЖКХ. Система бесперебойного электроснабжения. Автономная система. Автономное электроснабжения для дачи. Бесперебойное питание отопительных систем. Электрификация загородного дома.
<% end %>
<%= content_for :keywords do %>решения электроснабжения, энергосберегающее освещение для жкх, бесперебойного электроснабжения, автономные системы, бесперебойное питание отопительных систем, электрификация загородного дома
<% end %>
<%= content_for :description do %>Решения - Система энергосберегающего освещения для ЖКХ. Система бесперебойного электроснабжения. Автономная система. Автономное электроснабжения для дачи. Бесперебойное питание отопительных систем. Электрификация загородного дома.
<% end %>
<div class="article">
	<div id="solution-item">
		<div>
			<a href="/solutions/energy-efficient-lighting-jkh-220v-50hz">
				<h1>Система энергосберегающего освещения для ЖКХ 220В 50Гц</h1>
			</a>
		</div>
		<div>
			<a href="/solutions/uninterrupted-power-supply-stand-sol">
				<h1>Система бесперебойного электроснабжения. Типовое включение</h1>
			</a>
		</div>
		<div>
			<a href="/solutions/autonomous-system-stand-sol">
				<h1>Автономная система. Типовое решение</h1>
			</a>
		</div>
		<div>
			<a href="/solutions/ind-power-give"><h1>Автономное электроснабжения для дачи</h1></a>
			Большинство дачных домов подключены очень давно и имеют изношенное
			<strong>электрооборудование</strong>. Частые отключения
			<strong>электросети</strong> (особенно в весенние и осенние месяцы) не позволяет полноценно
			насладиться отдыхом. Но все эти проблемы достаточно
			легко решить, не используя сложное и дорогое оборудование.
		</div>
		<div>
			<a href="/solutions/unint-power-heating"><h1>Бесперебойное питание отопительных систем</h1></a>
			Установив современную <strong>систему отопления</strong>, которая в автоматическом режиме
			регулирует выработку и подачу тепла в ваш
			дом, уверены ли в ее надежности? А что, если <strong>электричество</strong> выключиться на 2-5-8
			часов? Современная автоматика
			надежна, долговечна, экономична, но не может работать без внешнего
			<strong>электропитания</strong>.
		</div>
		<div>
			<a href="solutions/electrification-country-house"><h1>Электрификация загородного дома</h1></a>
			Очень часто бывает так, что построить дом на тихом уголке стоит дешевле чем подвести к нему
			<strong>электричество</strong>.
			И даже если <strong>электричество</strong> есть, то его качество и частые пропадания дают
			ощутить себя как будто жителями 19-го века.
			И что, отказаться от благ современной жизни и копить деньги на собственную ЛЭП? Не стоит ждать&nbsp;&mdash;
			есть отличное решение
			для недорого <strong>автономного электроснабжения</strong>.
		</div>
	</div>
</div>