<%= content_for :page_name do %>
    Система бесперебойного электроснабжения.
<% end %>
<%= content_for :title do %>
    Решения - Система бесперебойного электроснабжения. Типовое решение.
<% end %>

<%= content_for :keywords do %>
    Электрификация.  Бесперебойное электроснабжение
<% end %>

<%= content_for :description do %>
    Электрификация.  Бесперебойное электроснабжение
<% end %>

<div id="products">
  <div id="product">
    <img class="margin-auto" src="/images/solutions/uninterrupted_power_supply_stand_sol.png" alt="Система бесперебойного электроснабжения. Типовое решение." title="Система бесперебойного электроснабжения. Типовое решение.">
  </div>
</div>