<%= content_for :page_name do %>
    Бесперебойное питание отопительных систем
<% end %>
<%= content_for :title do %>
    Решени - Бесперебойное питание отопительных систем
<% end %>

<%= content_for :keywords do %>
    Электропитание, бесперебойное питание
<% end %>

<%= content_for :description do %>
    Электропитание, бесперебойное питание
<% end %>

<div id="products">
  <div id="product">
    <h1>"Бесперебойное" отопление.</h1>

    <p>Современные <strong>отопительные системы</strong> полностью автоматизированны и не требуют вмешателства человека
      для отслеживания
      температуры и уровня подачи тепла. Но вся эта автоматика бесполезна припропадании электричества даже на несколько
      минут. Пропадание питающего электричества может привезти к разморозке дома и, соответственно, к огромному
      материальному ущербу. Обезопасить себя позволит недорогая система автономного питания отопительной системы.
    </p>

    <p>
      <span class="font-bold"> Решение:</span> Установка <strong>инвертора</strong> мощностью 0,9-2,0кВт совместно с
      1-2шт
      необслуживаемыми аккумуляторными батареями
      общей
      емкостью 200-400 А/часов. Возможно требуется установка стабилизатора. Срок автономной работы 15-30 часов.
    </p>

    <p><span class="font-bold"> Стоимость оборудования:</span> 30-50 тыс.рублей.</p>

    <p>
      <span class="font-bold"> Установка:</span> Только знающими и сертифицированными электриками. Обязательная проверка
      совместимости <strong>инвертора</strong> и
      автоматики отопления.
    </p>

    <p>
      <span class="font-bold"> Обслуживание:</span> Минимальное. Необслуживаемые АКБ и ограниченный список подключенного
      оборудования позволяют четко
      настроить систему и не обслуживать ее в течении 5-10 лет.
    </p>

    <p>

      <span class="font-bold"> Минусы:</span> <strong>Автономное электроснабжение</strong> будет только для системы
      отопления/подачи
      воды, а освещение и другие
      электрические системы не будет иметь резервного источника.
    </p>

  </div>
</div>
